In [138]:
import argparse
import pysam
from pathlib import Path
import pandas as pd
import numpy as np

In [ ]:
#ideally should work to functionalize everything

In [139]:
import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")

In [140]:
'''Summary: A script to calculate the editing outcomes in BAM files at a given list of locations'''

'Summary: A script to calculate the editing outcomes in BAM files at a given list of locations'

In [141]:
strandedness = []
fasta = pysam.FastaFile("hg38.fa")

In [216]:
the_read = None
#the issue: crispresso doesn't quite work for WGS sequencing due to reads not being long enoughc

#fetch the reads that are between the regions of interest
#overall structure of the script (what it needs to do)
#1. traverse each read 3' to 5'
#2. if a deletion or insertion that overlaps with the PAM include it


#A BAM (Binary Alignment Map) file simply stores the aligned sequencing reads from a DNA sample, which are naturally oriented 5' to 3'
#The PAM is typically on the 3' end.


#something about my calculation of total reads must be wrong :( 

#find the locations of the deletions in a given BAM file for each read
def find_deletion_locs(inbam, chrom, start_loc, end_loc,strand):
    deletions = []
    insertions = []
    #table of all indels (-) for a feletion (+) for an insertion
    indels = []
    count = 0
    
    for read in inbam.fetch(chrom, start_loc, end_loc):  
        #if read is reverse the beginning of the region will be the 3' end
        #if the read is not in reverse the beginning of the region will be the 5' end i believe 
        deletion_lst = []
        insertion_lst = []
        indel_lst = []

        count += 1
        ref_start = read.reference_start  # Correct attribute for reference start position

        #if the start of the read is soft clipped
        if read.cigartuples[0][0] == 4:
            #make the location of the read start at the reference minus the length of the soft clipping as reference_start doesn't
            #otherwise include the soft clipped bases 
            ref_start = ref_start - read.cigartuples[0][1] 
        
        cigar = read.cigartuples
    
        #the bases traversed - where we are in the read 
        l_read = 0
        
        #the exact start position of the read - where we are in the reference 
        l = ref_start

        segment_index = 0

        #go through now the entire cigar array
        for op, length in cigar:
            #if we are overlapping with the guide region in the read or in between the guide region
                
            #if the read + the length of a deletion or insertion is passed the 3' end - count it as an overhang deletion

            '''below just checks if a contained or an overhang deletion'''
            #the deletion seems to be at the 5' end for whatever reason - a little confusing

            #not sure if there should be a an equal sign.... 
            
            #deletions that go past the guide but originate in the guide
            if strand == '-':
                #on the 3' end
                if length + l > start_loc and l < start_loc:
                    if op == 2:
                        deletion_lst.append(["deletions extending passed region", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                #on the 5' end
                elif l + length > end_loc and l < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions extending passed region", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                elif l > start_loc and l  < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                elif l + length > start_loc and l + length  < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])

            #deletion should be on the 3' end (at the end)
            if strand == '+' or strand == 'unknown':
                if length + l > end_loc and l < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions extending passed region", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                elif length + l > start_loc and l < start_loc:
                    if op == 2:
                        deletion_lst.append(["deletions extending passed region", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                elif l > start_loc and l  < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
                elif l + length > start_loc and l + length  < end_loc:
                    if op == 2:
                        deletion_lst.append(["deletions", length, (l, l+length)])
                        indel_lst.append(["indels", -1 * length])
            

            #insertion ends in the guide loc
            if l + length < end_loc and l + length > start_loc :
                if op == 1:
                    insertion_lst.append(["insertions", length, (l, l+length)])
                    indel_lst.append(["indels", length])
                    
            #insertion begins in the guide loc
            if l  < end_loc and l > start_loc :
                if op == 1:
                    insertion_lst.append(["insertions", length, (l, l+length)])
                    indel_lst.append(["indels", length])
                
            
            '''below traverses the region of the read we are considering'''
            if op == 0:  # NOT SURE WHAT THE MEANING OF THIS IS
                l_read += length
                l += length
                
            elif op == 1:  # Insertion (this is correct)
                l_read += length
                
            elif op == 2:  # Deletion (this is correct)
                l += length 
                
            elif op == 3:  # Skipped region
                l += length #moving ahead in the reference
                
            elif op == 4:  # Soft clipping
                l_read += length
                l += length #
                
            elif op == 5:  # Hard clipping NOT SURE 
                pass
            elif op == 6:  # Padding NOT SURE 
                pass
            elif op == 7:  # Segment equal (this is correct)
                l_read += length
                l += length
                
            elif op == 8:  # seems to be sequence mismatcj - they both advance then NOT SURE
                l_read += length
                l += length
                
            else:
                raise ValueError(f"Unknown CIGAR operation code {op}")

            #if - once adding the oppcode have suprased the end of the read - break
            if l > end_loc:
                if len(deletion_lst) > 0 or len(insertion_lst) > 0:
                    deletions.append(deletion_lst)
                    insertions.append(insertion_lst)
                break
                
            segment_index += 1
            

    #returns a list of all the deletions and all the insertions and a total indel lst
    return deletions, insertions, indels
            
    # Close the BAM file
    inbam.close()

#construct the DF
def construct_df(locations, bams, del_lst, ins_lst, indel_lst):
    locations = locations.copy()    
    for region in bams:
        inbam = bams[region]
        chrom = vegfa_df[vegfa_df['REGION'] == region]['chrom'].tolist()[0]
        start = vegfa_df[vegfa_df['REGION'] == region]['start'].tolist()[0]
        end = vegfa_df[vegfa_df['REGION'] == region]['end'].tolist()[0]

        deletions = del_lst[region]
        indels = indel_lst[region]
        
        deletion_lengths = [
            [deletion[1] for deletion in read if 'deletions' in deletion[0]]
            for read in deletions
        ]

        deletion_coords = [
            [deletion[2] for deletion in read if 'deletions' in deletion[0]]
            for read in deletions
        ]

        indel_lengths = [
            [indel[1] for indel in read if 'indel' in indel[0]]
            for read in indels
        ]
        
        num_deletions = len(deletion_lengths)

        deletion_extending_past_region_lengths = [deletion[1] for read in deletions for deletion in read if 'extending' in deletion[0]]
        deletion_extending_past_region_coords = [deletion[2] for read in deletions for deletion in read if 'extending' in deletion[0]]
        num_deletions_extending_past_region = len(deletion_extending_past_region_coords)
        
        insertions = ins_lst[region]
        insertion_lengths = [insertion[1] for read in insertions for insertion in read if 'insertions' == insertion[0]]
        insertion_coords = [insertion[2] for read in insertions for insertion in read if 'insertions' == insertion[0]]
        num_insertions = len(insertion_coords)  
        num_indels = len(indel_lengths)

        #adding some columns to the dataframes
        total_reads = sum(1 for read in inbam.fetch(chrom, start, end))
        locations.loc[locations['REGION'] == region, 'total_reads'] = total_reads
        locations.loc[locations['REGION'] == region, 'forward_reads'] = sum(1 for read in inbam.fetch(chrom, start, end) if not read.is_reverse)
        locations.loc[locations['REGION'] == region, 'reverse_reads'] = sum(1 for read in inbam.fetch(chrom, start, end) if read.is_reverse)

        #collect info about all deletions
        locations.loc[locations['REGION'] == region, 'deletion lengths'] = str(deletion_lengths)
        locations.loc[locations['REGION'] == region, 'deletion coords'] = str(deletion_coords)
        locations.loc[locations['REGION'] == region, 'number of reads with deletion(s)'] = str(num_deletions)

        #collect info about all insertions
        locations.loc[locations['REGION'] == region, 'insertion lengths'] = str(insertion_lengths)
        locations.loc[locations['REGION'] == region, 'insertion coords'] = str(insertion_coords)
        locations.loc[locations['REGION'] == region, 'number of reads with insertion(s)'] = str(num_insertions)
        locations.loc[locations['REGION'] == region, 'number of reads with indels'] = str(num_indels)     


        #collect info about all deletions that go past the guide site
        locations.loc[locations['REGION'] == region, 'deletion extending past region lengths'] = str(deletion_extending_past_region_lengths)
        locations.loc[locations['REGION'] == region, 'deletion extending past region coords'] = str(deletion_extending_past_region_coords)
        locations.loc[locations['REGION'] == region, 'number of reads with deletion extending past region'] = str(num_deletions_extending_past_region)     

        if total_reads != 0:
            locations.loc[locations['REGION'] == region, '% reads with an deletion'] = int(num_deletions) / int(total_reads)
            locations.loc[locations['REGION'] == region, '% reads with an insertion'] = int(num_insertions) / int(total_reads)
            locations.loc[locations['REGION'] == region, '% reads with an indel'] = int(num_indels) / int(total_reads)
        else:
            locations.loc[locations['REGION'] == region, '% reads with an insertion'] = None
            locations.loc[locations['REGION'] == region, '% reads with an deletion'] = None
            locations.loc[locations['REGION'] == region, '% reads with an indel'] = None
            
    return locations

In [217]:
#for each noted location - could see which one has more homology with

In [218]:
start_loc=43770818
end_loc=43770841

#need to populate a list perhaps with all the start and end locations
vegfa = 'vegfa_lifted_2.tsv'
vegfa_df = pd.read_csv(vegfa, sep='\t',  names=['chrom','start','end','name','na','na2','na3']).reset_index()
# Rename all columns
vegfa_df.columns = ['chrom', 'start', 'end', 'name', 'off_target', 'na', 'na2', 'REGION']

# Print the DataFrame to verify
print(vegfa_df)

#read in the csv file
vegfa_df

import pysam
from pathlib import Path

# Define the paths to the BAM directories
HG_1_BAMs = Path('CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide') / 'ANALYZED_REGIONS'
HG_2_BAMs = Path('CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide') / 'ANALYZED_REGIONS'
HG_WT_BAMs = Path('CRISPRessoWGS_on_H9_WT_combined_crispresso_wo_guide') / 'ANALYZED_REGIONS'

# Function to read BAM files from a directory and store in a dictionary
def read_bam_files_to_dict(directory):
    #sort the directory by name
    bam_files_dict = {}
    
    sorted_bam_files = sorted(directory.glob('*.bam'), key=lambda f: f.name)
    
    for bam_file in sorted_bam_files:  # Filter for .bam files
        bam_files_dict[bam_file.name] = pysam.AlignmentFile(bam_file, "rb")  # Store filename as key, BAM object as value
    return bam_files_dict

# Read BAM files from each directory
bam_files_HG_1 = read_bam_files_to_dict(HG_1_BAMs)
bam_files_HG_2 = read_bam_files_to_dict(HG_2_BAMs)
bam_files_HG_WT = read_bam_files_to_dict(HG_WT_BAMs)

# Combine both dictionaries
all_bam_files = {**bam_files_HG_1, **bam_files_HG_2}

# Print a summary
print(f"Number of BAM files in HG_1: {len(bam_files_HG_1)}")
print(f"Number of BAM files in HG_2: {len(bam_files_HG_2)}")
print(f"Number of BAM files in HG_2: {len(bam_files_HG_WT)}")
print(f"Total number of BAM files: {len(all_bam_files)}")

print(vegfa.index)

#Add a column to the vegfa table where each region cooresponds to a REGION file - so can be easily paired up with the region BAM files
vegfa_df['REGION'] = ['REGION_' + str(i) + '.bam' for i in np.arange(0, vegfa_df.shape[0])]
vegfa_df

     chrom      start        end                             name  \
0     chr5    6714988    6715011    VEGFA_site2_chr5_6715118_1925
1     chr2  241275174  241275197  VEGFA_site2_chr2_242214606_1549
2     chr9  100837360  100837383  VEGFA_site2_chr9_103599649_1178
3    chr16   56929510   56929533  VEGFA_site2_chr16_56963429_1107
4     chr4   38535989   38536012   VEGFA_site2_chr4_38537627_1054
5    chr11   72237743   72237766   VEGFA_site2_chr11_71948805_919
6    chr17    4455450    4455473    VEGFA_site2_chr17_4358752_803
7    chr17   41888497   41888520   VEGFA_site2_chr17_40044757_791
8     chr9   27338859   27338882    VEGFA_site2_chr9_27338874_767
9     chr8  143740774  143740797   VEGFA_site2_chr8_144822961_728
10   chr10  114534490  114534513  VEGFA_site2_chr10_116294256_704
11   chr22   50446356   50446379   VEGFA_site2_chr22_50884803_704
12   chr11   76784738   76784761   VEGFA_site2_chr11_76495788_627
13    chr1  151059392  151059415   VEGFA_site2_chr1_151031887_625
14    chr8  143934230  143934253   VEGFA_site2_chr8_145008405_603
15    chr6   43770818   43770841    VEGFA_site2_chr6_43738562_540
16   chr11   31795928   31795951   VEGFA_site2_chr11_31817483_483
17   chr10  133336426  133336449  VEGFA_site2_chr10_135149947_446
18    chr2   12604632   12604655    VEGFA_site2_chr2_12744775_414
19   chr15   32993899   32993922   VEGFA_site2_chr15_33286107_391
20   chr13   26052087   26052110   VEGFA_site2_chr13_26626241_365
21   chr11   63623611   63623634   VEGFA_site2_chr11_63391090_362
22   chr18   23779588   23779611   VEGFA_site2_chr18_21359559_357
23   chr11   46120297   46120320   VEGFA_site2_chr11_46141855_336
24    chrX  150764038  150764061   VEGFA_site2_chrX_149932528_330
25   chr13   99894728   99894751  VEGFA_site2_chr13_100546988_303
26   chr19   13011357   13011380   VEGFA_site2_chr19_13122188_291
27   chr16   82700959   82700982   VEGFA_site2_chr16_82734581_278
28    chrX  129906647  129906670   VEGFA_site2_chrX_129040641_263
29    chr3   31417159   31417182    VEGFA_site2_chr3_31458658_256
30   chr11     374660     374683     VEGFA_site2_chr11_374666_252
31   chr11   13926806   13926829   VEGFA_site2_chr11_13948370_246
32    chr4    8840184    8840207     VEGFA_site2_chr4_8841917_235
33    chr9  136546388  136546411   VEGFA_site2_chr9_139440844_202
34   chr19   14032156   14032179   VEGFA_site2_chr19_14142975_192
35    chr7   95690358   95690381    VEGFA_site2_chr7_95319677_179
36    chr8   18184030   18184053    VEGFA_site2_chr8_18041545_160
37   chr17   17051531   17051554   VEGFA_site2_chr17_16954852_141
38   chr20   10933306   10933329   VEGFA_site2_chr20_10913961_138
39    chr1     939940     939963      VEGFA_site2_chr1_875337_135
40    chr7  105293491  105293514   VEGFA_site2_chr7_104933955_135
41    chr9  123375895  123375918   VEGFA_site2_chr9_126138181_128
42   chr10  132143134  132143157  VEGFA_site2_chr10_133956644_126
43   chr12   25872155   25872178   VEGFA_site2_chr12_26025095_123
44    chr5   14457377   14457400    VEGFA_site2_chr5_14457504_122
45   chr11   12287370   12287393   VEGFA_site2_chr11_12308933_121
46    chr3  140679941  140679964   VEGFA_site2_chr3_140398800_111
47    chr2  128486621  128486644   VEGFA_site2_chr2_129244202_108
48    chr2  169716823  169716846    VEGFA_site2_chr2_170573355_98
49    chr2   11559821   11559844     VEGFA_site2_chr2_11699964_95
50    chr4    1494513    1494536      VEGFA_site2_chr4_1496257_92
51    chr2   24634707   24634730     VEGFA_site2_chr2_24857593_87
52    chr4    7327802    7327825      VEGFA_site2_chr4_7329546_87
53   chr10   70778444   70778467    VEGFA_site2_chr10_72538217_75
54   chr22   44739007   44739030    VEGFA_site2_chr22_45134894_75
55   chr19   45448779   45448802    VEGFA_site2_chr19_45952054_74
56    chr5  171451048  171451071    VEGFA_site2_chr5_170878070_71
57    chr5  139648654  139648677    VEGFA_site2_chr5_139028256_65
58    chr7   50697814   50697837     VEGFA_site2_chr7_50765529_65
59   chr11   83722550   83722573    VEGFA_site2_chr11_83433600_65
60    chrX  119731513  119731536    VEGFA_site2_chrX_118865483_63
61    chr5  156894113  156894136    VEGFA_site2_chr5_156321140_59
62   chr22   47115342   47115365    VEGFA_site2_chr22_47511254_52
63    chr2  105374363  105374386    VEGFA_site2_chr2_105990827_45
64   chr11    2665012    2665035     VEGFA_site2_chr11_2686249_40
65   chr16   85304593   85304616    VEGFA_site2_chr16_85338205_37
66    chrX  153571653  153571676    VEGFA_site2_chrX_152837128_37
67   chr22   39706378   39706401    VEGFA_site2_chr22_40102400_36
68   chr17   67636857   67636880    VEGFA_site2_chr17_65632990_35
69    chr4  142846213  142846236    VEGFA_site2_chr4_143767373_34
70   chr10  101061743  101061766   VEGFA_site2_chr10_102821517_32
71   chr19   42302642   42302665    VEGFA_site2_chr19_42806801_32
72    chr9  137368986  137369009    VEGFA_site2_chr9_140263445_31
73   chr17   57663161   57663184    VEGFA_site2_chr17_55740529_31
74   chr16   57940327   57940350    VEGFA_site2_chr16_57974238_30
75    chr5  133524667  133524690    VEGFA_site2_chr5_132860375_29
76   chr11   45774498   45774521    VEGFA_site2_chr11_45796055_29
77   chr17   64089687   64089710    VEGFA_site2_chr17_62167053_29
78   chr11   67584045   67584068    VEGFA_site2_chr11_67351523_27
79    chr1  237032374  237032397    VEGFA_site2_chr1_237195681_25
80    chr9  128944296  128944319    VEGFA_site2_chr9_131706582_25
81   chr22   43288472   43288495    VEGFA_site2_chr22_43684495_25
82   chr15   78565376   78565399    VEGFA_site2_chr15_78857725_24
83   chr19   36268225   36268248    VEGFA_site2_chr19_36759134_24
84    chr2  220671105  220671128    VEGFA_site2_chr2_221535832_23
85    chr3   49812737   49812760     VEGFA_site2_chr3_49850177_23
86    chr2  100820988  100821011    VEGFA_site2_chr2_101437467_22
87   chr14   89936960   89936983    VEGFA_site2_chr14_90403321_21
88   chr17   48026474   48026497    VEGFA_site2_chr17_46103848_21
89    chr1    1358875    1358898      VEGFA_site2_chr1_1294273_19
90   chr11   61553960   61553983    VEGFA_site2_chr11_61321439_19
91    chr9   37465350   37465373     VEGFA_site2_chr9_37465365_18
92   chr18   57434111   57434134    VEGFA_site2_chr18_55101360_18
93   chr20   37362723   37362746    VEGFA_site2_chr20_35991133_18
94    chr2  149534882  149534905    VEGFA_site2_chr2_150391412_17
95    chr7   44213950   44213973     VEGFA_site2_chr7_44253556_17
96    chr8   39981549   39981572     VEGFA_site2_chr8_39839086_17
97   chr11   32162932   32162955    VEGFA_site2_chr11_32184484_16
98   chr17   60327490   60327513    VEGFA_site2_chr17_58404869_16
99    chr3   38099767   38099790     VEGFA_site2_chr3_38141265_15
100   chr6   41575694   41575717     VEGFA_site2_chr6_41543448_15
101   chr6   43369581   43369604     VEGFA_site2_chr6_43337337_15
102   chr7  101507500  101507523    VEGFA_site2_chr7_101150798_15
103   chr8  121355706  121355729    VEGFA_site2_chr8_122367963_15
104  chr11  133907545  133907568   VEGFA_site2_chr11_133777457_14
105  chr12    3091793    3091816     VEGFA_site2_chr12_3200977_14
106  chr16   67255527   67255550    VEGFA_site2_chr16_67289447_14
107   chr1   23435751   23435774     VEGFA_site2_chr1_23762251_13
108   chr1   51752230   51752253     VEGFA_site2_chr1_52217921_13
109   chr2   43381382   43381405     VEGFA_site2_chr2_43608538_13
110  chr17   81923260   81923283    VEGFA_site2_chr17_79881149_13
111   chr6   36886042   36886065     VEGFA_site2_chr6_36853825_12
112   chr9    2666721    2666744      VEGFA_site2_chr9_2666738_12
113   chr9   97970286   97970309    VEGFA_site2_chr9_100732585_12
114  chr19   51412258   51412281    VEGFA_site2_chr19_51915519_12
115   chr7  131106799  131106822    VEGFA_site2_chr7_130791581_10
116   chr9  127900790  127900813    VEGFA_site2_chr9_130663087_10
117  chr12  132710545  132710568   VEGFA_site2_chr12_133287148_10
118   chr7    1438966    1438989       VEGFA_site2_chr7_1478608_9
119   chr8   37393659   37393682      VEGFA_site2_chr8_37251195_9
120  chr19    1028244    1028267      VEGFA_site2_chr19_1028249_9
121  chr19   18522666   18522689     VEGFA_site2_chr19_18633483_9
122  chr20   63944457   63944480     VEGFA_site2_chr20_62575817_9
123  chr21   45283300   45283323     VEGFA_site2_chr21_46703222_9
124   chr3   13145795   13145818      VEGFA_site2_chr3_13187302_8
125   chr6   31495043   31495066      VEGFA_site2_chr6_31462826_8
126   chr2  222866762  222866785     VEGFA_site2_chr2_223731497_7
127  chr11   65712291   65712314     VEGFA_site2_chr11_65479769_7
128  chr12   86287503   86287526     VEGFA_site2_chr12_86681297_7
129  chr12  132044804  132044827    VEGFA_site2_chr12_132529366_7
130  chr16   69132801   69132824     VEGFA_site2_chr16_69166711_7
131  chr12   57210532   57210555     VEGFA_site2_chr12_57604331_6
132  chr17   74660531   74660554     VEGFA_site2_chr17_72656677_6
133   chr8  136488152  136488175     VEGFA_site2_chr8_137500402_5
134   chr1  178769585  178769608     VEGFA_site2_chr1_178738727_4
135   chr3   55823450   55823473      VEGFA_site2_chr3_55857495_4
136   chr6   26470378   26470401      VEGFA_site2_chr6_26470622_4
137   chr6  110199814  110199837     VEGFA_site2_chr6_110521033_4
138   chr9   37990361   37990384      VEGFA_site2_chr9_37990376_4
139  chr17    7244144    7244167      VEGFA_site2_chr17_7147480_4
140  chr19   18020497   18020520     VEGFA_site2_chr19_18131314_4
141  chr19   44821307   44821330     VEGFA_site2_chr19_45324581_4
142   chr2   85288363   85288386      VEGFA_site2_chr2_85515492_3
143   chr5  123230115  123230138     VEGFA_site2_chr5_122565828_3
144   chr9   33202609   33202632      VEGFA_site2_chr9_33202624_3
145   chr9   98169003   98169026     VEGFA_site2_chr9_100931292_3
146  chr12  123409108  123409131    VEGFA_site2_chr12_123893673_3
147  chr19    1494314    1494337      VEGFA_site2_chr19_1494330_3
148  chr22   22918017   22918040     VEGFA_site2_chr22_23260204_3
149   chr3   65089966   65089989      VEGFA_site2_chr3_65075658_2
150  chr13  114030020  114030043    VEGFA_site2_chr13_114795514_2
151  chr14  104134854  104134877    VEGFA_site2_chr14_104601208_2

                  off_target  na  na2  REGION
0    CTACCCCTCCACCCCGCCTCCGG NaN  NaN     NaN
1    ATTCCCCCCCACCCCGCCTCAGG NaN  NaN     NaN
2    ACACCCCCCCACCCCGCCTCAGG NaN  NaN     NaN
3    TGCCCCCCCCACCCCACCTCTGG NaN  NaN     NaN
4    CTCCCCCCCCACCCCGCCTCAGG NaN  NaN     NaN
5    GCTTCCCTCCACCCCGCATCCGG NaN  NaN     NaN
6    TACCCCCCACACCCCGCCTCTGG NaN  NaN     NaN
7    TGCCCCTCCCACCCCGCCTCTGG NaN  NaN     NaN
8    GACCCCTCCCACCCCGACTCCGG NaN  NaN     NaN
9    GTACCCCACCACCCCGCCCCAGG NaN  NaN     NaN
10   CCCCACCCCCACCCCGCCTCAGG NaN  NaN     NaN
11   CCCCCCCCCCCCCCCGCCTCCGG NaN  NaN     NaN
12   CACCCCCCCCCCCCCACCTCCGG NaN  NaN     NaN
13   CCTCCCCCACACCCCGCATCCGG NaN  NaN     NaN
14   CCCCCTCCCCGCCCCGCCCCCGG NaN  NaN     NaN
15   GACCCCCTCCACCCCGCCTCCGG NaN  NaN     NaN
16   GGGCCCCTCCACCCCGCCTCTGG NaN  NaN     NaN
17   CGCCCTCCCCACCCCGCCTCCGG NaN  NaN     NaN
18   GACACACCCCACCCCACCTCAGG NaN  NaN     NaN
19   GACCCCCCCCACCCCGCCCCCGG NaN  NaN     NaN
20   TCCCCCCCACCCCCCACCTCAGG NaN  NaN     NaN
21   GACACCTTCCACCCCGTCTCTGG NaN  NaN     NaN
22   GCCCCCACCCACCCCGCCTCTGG NaN  NaN     NaN
23   CATCCCCCCCACCCCACCCCGGG NaN  NaN     NaN
24   CTGCCCCCCCACCCCGCCACTGG NaN  NaN     NaN
25   CCCCCCCCCCCCCCCGCCTCAGG NaN  NaN     NaN
26   GCCCCCCACCACCCCACCTCGGG NaN  NaN     NaN
27   CCCCCCCCCCCCCCCGCCCCGGG NaN  NaN     NaN
28   TGCCCCCCCCACCCCGCCCCCGG NaN  NaN     NaN
29   CTTCCCCCACACCCCGCCCCAGG NaN  NaN     NaN
30   AGGCCCCCCCGCCCCGCCTCAGG NaN  NaN     NaN
31   TACCCCCCCCACCCCGCCACAGG NaN  NaN     NaN
32   CATACCCCCCACCCCGCCCCGGG NaN  NaN     NaN
33   CGCCCTCCCCACTCCGCCTCGGG NaN  NaN     NaN
34   GAGCTCCCCCACCCCGCCCCGGG NaN  NaN     NaN
35   GACCCCTCACACCCCGCCCCTGG NaN  NaN     NaN
36   CCCCCCCACCACCCCGCCCCGGG NaN  NaN     NaN
37   CTCCCCCGCCACCCCGCCCCAGG NaN  NaN     NaN
38   CCACCCCCCCACCCCGCCCCTGG NaN  NaN     NaN
39   GACCCTGTCCACCCCACCTCAGG NaN  NaN     NaN
40   TCCACCCCCCACCCCGCCCCGGG NaN  NaN     NaN
41   CACTCCCCCCACCCCGCCCCAGG NaN  NaN     NaN
42   AGCCCCCCCCACCCCGACTCAGG NaN  NaN     NaN
43   CATTCCCCCCACCCCACCTCAGG NaN  NaN     NaN
44   CCCCCCCCCCGCCCCGCCCCCCG NaN  NaN     NaN
45   ATCCCCCTCCACCCCACCCCTGG NaN  NaN     NaN
46   CAACCCCCCCACCCCGCTTCAGG NaN  NaN     NaN
47   CCCCCCCCCCACCCCGCCCCCGG NaN  NaN     NaN
48   CCACCCCCCCACCCCGCCCCAGG NaN  NaN     NaN
49   CTCCCTCCCCACCCCACCTCTGG NaN  NaN     NaN
50   AGGCCCCCACACCCCGCCTCAGG NaN  NaN     NaN
51   ACCCCCCCCCCCCCCGCCCCCGG NaN  NaN     NaN
52   GCCCCCCCCAACCCCGCCCCCGG NaN  NaN     NaN
53   CAGTCCCCCCACCCCACCTCTGG NaN  NaN     NaN
54   CACCCACTACTCCCCGCCTCAGG NaN  NaN     NaN
55   AAGACCCCCCACCCCGCCCCAGG NaN  NaN     NaN
56   CCGCCCCCCCACCCCGCCGCCGG NaN  NaN     NaN
57   CTCCCCCCCCTCCCCGCCTCGGG NaN  NaN     NaN
58   AACCACCCCCACCCCACCCCAGG NaN  NaN     NaN
59   GTCACTCCCCACCCCGCCTCTGG NaN  NaN     NaN
60   GTCCTCCACCACCCCGCCTCTGG NaN  NaN     NaN
61   GACCCCACCTACCCCACCTCAGG NaN  NaN     NaN
62   GCCCCCCACCACCCCACCCCCGG NaN  NaN     NaN
63   GGGCCCTCCCACCTCGCCCCTGG NaN  NaN     NaN
64   CTCACCCCCCACCCCACCTCTGG NaN  NaN     NaN
65   ATGCCCCACCCCCCCGCCCCCGG NaN  NaN     NaN
66   GTCCCCCTCCTCCCCACCTCCGG NaN  NaN     NaN
67   GTCCCTCCCCACCCCGCCTTGGG NaN  NaN     NaN
68   AACACCCTCCACCCCACCACAGG NaN  NaN     NaN
69   GCCGCCCCCCACTCCGCCTCCGG NaN  NaN     NaN
70   CTACCCCCACTCCCCGCCTCCGG NaN  NaN     NaN
71   TTCTCCCTCCTCCCCGCCTCGGG NaN  NaN     NaN
72   AAGCCCCCCCACCCCGCCCCGGG NaN  NaN     NaN
73   CCGCCCCTCCACCCCGCCACTGG NaN  NaN     NaN
74   TATCCTCCCCACCCCGCCCCGGG NaN  NaN     NaN
75   TGCACCCCCCACCCCGCCCCTGG NaN  NaN     NaN
76   ATCCCTCTCCACCCCACCCCAGG NaN  NaN     NaN
77   ACTCCCCTCCACCCCGGCTCGGG NaN  NaN     NaN
78   TGCCCCCTCT-CCCCGCCCCCGG NaN  NaN     NaN
79   AACCCCACCCACCCCATCTCAGG NaN  NaN     NaN
80   AGCCAACCCCACCCCGCCTCTGG NaN  NaN     NaN
81   AGCCCCCACCTCCCCGCCTCGGG NaN  NaN     NaN
82   TCCCCACCCCGCCCCGCCTCTGG NaN  NaN     NaN
83   TCCCACCCCCACCCCGCCACGGG NaN  NaN     NaN
84   ACACCCCCCCACCCCACCCCAGG NaN  NaN     NaN
85   GACCCCTACCACCCCATCTCAGG NaN  NaN     NaN
86   CCGCCCCCCCACCCCAACTCCGG NaN  NaN     NaN
87   GTCCCCTCCCACCCCGCCTCCAG NaN  NaN     NaN
88   AACCTCCCCCACCCCACCCCAGG NaN  NaN     NaN
89   TGGCCCCTCCGCCCCACCTCTGG NaN  NaN     NaN
90   CACCCCCTCCCCTCCGCCTCAGG NaN  NaN     NaN
91   CCCCCCTCCCACCCCGCCTCTAG NaN  NaN     NaN
92   CTACCCCTCCACCCCGACTCGGA NaN  NaN     NaN
93   AGACCCCCCCACCCCACCCCAGG NaN  NaN     NaN
94   ACGCCCCCCCACCCCACGTCTGG NaN  NaN     NaN
95   GGCCCACTCCACTCCGTCTCCGG NaN  NaN     NaN
96   CACACCCACCACCCCGCCTCAGA NaN  NaN     NaN
97   CACCCCCCGCACCCCGCCCCAGG NaN  NaN     NaN
98   CGCCCACCCCACCCCACCTCAGG NaN  NaN     NaN
99   CCCCACCCCCACCCCGCCCCCGG NaN  NaN     NaN
100  GCCACCCCCCACCCCACCCCAGG NaN  NaN     NaN
101  GACACACCCCCCCCCGCCTCCGG NaN  NaN     NaN
102  AACCTCCACCTCCCCGCCTCAGG NaN  NaN     NaN
103  CCACCATCCCACCCCGCCTCTGG NaN  NaN     NaN
104  TCTCCCCTCCACCCCGCCCTCGG NaN  NaN     NaN
105  CACCTCCACAACTCCGCCTCTGG NaN  NaN     NaN
106  AGGCCCTCCCACCCCGCATCAGG NaN  NaN     NaN
107  ACTCCCCTCCACCCCACCTCTGA NaN  NaN     NaN
108  TCCCCCCTCCACCCCCGCCCCCG NaN  NaN     NaN
109  TACTCCCCCCACCCAGCCTCAGG NaN  NaN     NaN
110  CACCCCCCCCCCCCCGCCCCCGG NaN  NaN     NaN
111  GCCTCCCCCCACCCAGCCTCGGG NaN  NaN     NaN
112  AGCCGCCCCCACCCCGCCCCCGG NaN  NaN     NaN
113  TCCCCCCACCACCCCACCCCCGG NaN  NaN     NaN
114  AACACCCCCCACCCCACCCCGGG NaN  NaN     NaN
115  GGCCCCACCCACCCCGCCTTCTG NaN  NaN     NaN
116  CCCCCACCCCACCCCGCCTCCAG NaN  NaN     NaN
117  CCGCCCCTGCACCCAGCCTCCGG NaN  NaN     NaN
118  CCCCCTCCCCACCCCGCCGCAGG NaN  NaN     NaN
119  CACCCCGCCCACCCCGCCCCTGG NaN  NaN     NaN
120  ACCCCACCCCACCCCGTCTCCGG NaN  NaN     NaN
121  AGTCCCATCCACCCCGCCTAAGG NaN  NaN     NaN
122  CCGCCCCCCCATCCCGCCCCAGG NaN  NaN     NaN
123  CGTCCCCCCCCCCCCGCCTCAGG NaN  NaN     NaN
124  GACCCCCCCCCCCCGCCCCCGGG NaN  NaN     NaN
125  CTCCCCCTCCACCCCACCTCCAG NaN  NaN     NaN
126  CCCCCCCCCCCCCCCGCCCCGGG NaN  NaN     NaN
127  GGCTCCCTCCGCCCCGCCCCGGG NaN  NaN     NaN
128  TAGCCCCTCCACCCCACCACAGG NaN  NaN     NaN
129  GACCCCACCCACCCCGCCGCAGG NaN  NaN     NaN
130  AGTAGCCCCCACCCCGCCTCGGG NaN  NaN     NaN
131  GCCACCCACCACCCCACCTCAGG NaN  NaN     NaN
132  TTCCCCTTCCACCCAGCCTCTGG NaN  NaN     NaN
133  AACCCTCTCCACCCAGTCTCAGG NaN  NaN     NaN
134  GGCCCTCTCCACTCCACCTCAGG NaN  NaN     NaN
135  GTCCCCCTCCTCCCCGTCTCAGG NaN  NaN     NaN
136  GACCCCCCCCACCCCACCCCAGG NaN  NaN     NaN
137  TGCCCCCTCCACCCCACCTCTGA NaN  NaN     NaN
138  GGCTCACCCCACCCCACCTCTGG NaN  NaN     NaN
139  TTTCCCCCCCACCCCAACTCAGG NaN  NaN     NaN
140  CCCCACCCCCACCCCACCTCTGG NaN  NaN     NaN
141  CCCCCCCCTCACCCCGCCCCTGG NaN  NaN     NaN
142  TCCTCCTTCCACTCCGCCTCTGG NaN  NaN     NaN
143  CTCCCCCTACACCCCGCAACAGG NaN  NaN     NaN
144  GTCCCCTCCCTCCCCGCCTCTGG NaN  NaN     NaN
145  CCACCCCTCCACCCCGTCCCAGG NaN  NaN     NaN
146  TTCCCCCCCAACCCCACCTCGGG NaN  NaN     NaN
147  CCTGCCCCCCACCCCGCCCCAGG NaN  NaN     NaN
148  GACCCCCTTCACCCCACCTATGG NaN  NaN     NaN
149  CCCCCCCTCCACCCCACTTCAGG NaN  NaN     NaN
150  CAGCCCCTCCACTCCACCCCCGG NaN  NaN     NaN
151  AGCCCCCCCCTCCCCGCCCCAGG NaN  NaN     NaN

[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_1.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_10.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_102.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_103.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_104.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_106.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_109.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_110.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_113.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_114.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_115.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_116.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_117.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_12.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_122.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_123.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_127.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_128.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_129.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_13.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_130.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_131.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_132.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_133.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_134.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_135.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_137.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_14.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_141.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_142.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_143.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_145.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_146.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_149.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_15.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_150.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_151.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_17.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_2.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_21.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_24.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_25.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_27.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_28.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_3.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_33.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_35.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_4.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_40.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_41.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_42.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_46.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_47.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_48.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_5.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_53.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_56.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_57.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_58.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_59.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_60.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_61.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_63.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_65.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_66.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_68.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_69.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_70.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_72.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_73.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_74.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_75.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_76.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_77.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_78.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_79.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_80.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_82.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_84.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_86.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_87.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_9.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_90.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_91.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_92.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_94.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_1_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_98.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_1.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_10.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_102.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_103.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_104.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_106.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_109.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_110.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_113.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_114.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_115.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_116.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_117.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_12.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_122.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_123.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_127.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_128.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_129.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_13.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_130.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_132.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_133.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_134.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_135.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_137.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_14.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_141.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_142.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_143.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_145.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_146.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_149.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_150.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_151.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_17.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_2.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_21.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_24.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_25.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_28.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_3.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_33.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_35.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_4.bam.bai
[W::hts_idx_load3] The index file is older than the data file: CRISPRessoWGS_on_H9_2_combined_crispresso_wo_guide/ANALYZED_REGIONS/REGION_40.bam.bai

Number of BAM files in HG_1: 152
Number of BAM files in HG_2: 152
Number of BAM files in HG_2: 152
Total number of BAM files: 152
<built-in method index of str object at 0x143047f30>

,chrom,start,end,name,off_target,na,na2,REGION
0,chr5,6714988,6715011,VEGFA_site2_chr5_6715118_1925,CTACCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_0.bam
1,chr2,241275174,241275197,VEGFA_site2_chr2_242214606_1549,ATTCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_1.bam
2,chr9,100837360,100837383,VEGFA_site2_chr9_103599649_1178,ACACCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_2.bam
3,chr16,56929510,56929533,VEGFA_site2_chr16_56963429_1107,TGCCCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_3.bam
4,chr4,38535989,38536012,VEGFA_site2_chr4_38537627_1054,CTCCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_4.bam
5,chr11,72237743,72237766,VEGFA_site2_chr11_71948805_919,GCTTCCCTCCACCCCGCATCCGG,NaN,NaN,REGION_5.bam
6,chr17,4455450,4455473,VEGFA_site2_chr17_4358752_803,TACCCCCCACACCCCGCCTCTGG,NaN,NaN,REGION_6.bam
7,chr17,41888497,41888520,VEGFA_site2_chr17_40044757_791,TGCCCCTCCCACCCCGCCTCTGG,NaN,NaN,REGION_7.bam
8,chr9,27338859,27338882,VEGFA_site2_chr9_27338874_767,GACCCCTCCCACCCCGACTCCGG,NaN,NaN,REGION_8.bam
9,chr8,143740774,143740797,VEGFA_site2_chr8_144822961_728,GTACCCCACCACCCCGCCCCAGG,NaN,NaN,REGION_9.bam
10,chr10,114534490,114534513,VEGFA_site2_chr10_116294256_704,CCCCACCCCCACCCCGCCTCAGG,NaN,NaN,REGION_10.bam
11,chr22,50446356,50446379,VEGFA_site2_chr22_50884803_704,CCCCCCCCCCCCCCCGCCTCCGG,NaN,NaN,REGION_11.bam
12,chr11,76784738,76784761,VEGFA_site2_chr11_76495788_627,CACCCCCCCCCCCCCACCTCCGG,NaN,NaN,REGION_12.bam
13,chr1,151059392,151059415,VEGFA_site2_chr1_151031887_625,CCTCCCCCACACCCCGCATCCGG,NaN,NaN,REGION_13.bam
14,chr8,143934230,143934253,VEGFA_site2_chr8_145008405_603,CCCCCTCCCCGCCCCGCCCCCGG,NaN,NaN,REGION_14.bam
15,chr6,43770818,43770841,VEGFA_site2_chr6_43738562_540,GACCCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_15.bam
16,chr11,31795928,31795951,VEGFA_site2_chr11_31817483_483,GGGCCCCTCCACCCCGCCTCTGG,NaN,NaN,REGION_16.bam
17,chr10,133336426,133336449,VEGFA_site2_chr10_135149947_446,CGCCCTCCCCACCCCGCCTCCGG,NaN,NaN,REGION_17.bam
18,chr2,12604632,12604655,VEGFA_site2_chr2_12744775_414,GACACACCCCACCCCACCTCAGG,NaN,NaN,REGION_18.bam
19,chr15,32993899,32993922,VEGFA_site2_chr15_33286107_391,GACCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_19.bam
20,chr13,26052087,26052110,VEGFA_site2_chr13_26626241_365,TCCCCCCCACCCCCCACCTCAGG,NaN,NaN,REGION_20.bam
21,chr11,63623611,63623634,VEGFA_site2_chr11_63391090_362,GACACCTTCCACCCCGTCTCTGG,NaN,NaN,REGION_21.bam
22,chr18,23779588,23779611,VEGFA_site2_chr18_21359559_357,GCCCCCACCCACCCCGCCTCTGG,NaN,NaN,REGION_22.bam
23,chr11,46120297,46120320,VEGFA_site2_chr11_46141855_336,CATCCCCCCCACCCCACCCCGGG,NaN,NaN,REGION_23.bam
24,chrX,150764038,150764061,VEGFA_site2_chrX_149932528_330,CTGCCCCCCCACCCCGCCACTGG,NaN,NaN,REGION_24.bam
25,chr13,99894728,99894751,VEGFA_site2_chr13_100546988_303,CCCCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_25.bam
26,chr19,13011357,13011380,VEGFA_site2_chr19_13122188_291,GCCCCCCACCACCCCACCTCGGG,NaN,NaN,REGION_26.bam
27,chr16,82700959,82700982,VEGFA_site2_chr16_82734581_278,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_27.bam
28,chrX,129906647,129906670,VEGFA_site2_chrX_129040641_263,TGCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_28.bam
29,chr3,31417159,31417182,VEGFA_site2_chr3_31458658_256,CTTCCCCCACACCCCGCCCCAGG,NaN,NaN,REGION_29.bam
30,chr11,374660,374683,VEGFA_site2_chr11_374666_252,AGGCCCCCCCGCCCCGCCTCAGG,NaN,NaN,REGION_30.bam
31,chr11,13926806,13926829,VEGFA_site2_chr11_13948370_246,TACCCCCCCCACCCCGCCACAGG,NaN,NaN,REGION_31.bam
32,chr4,8840184,8840207,VEGFA_site2_chr4_8841917_235,CATACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_32.bam
33,chr9,136546388,136546411,VEGFA_site2_chr9_139440844_202,CGCCCTCCCCACTCCGCCTCGGG,NaN,NaN,REGION_33.bam
34,chr19,14032156,14032179,VEGFA_site2_chr19_14142975_192,GAGCTCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_34.bam
35,chr7,95690358,95690381,VEGFA_site2_chr7_95319677_179,GACCCCTCACACCCCGCCCCTGG,NaN,NaN,REGION_35.bam
36,chr8,18184030,18184053,VEGFA_site2_chr8_18041545_160,CCCCCCCACCACCCCGCCCCGGG,NaN,NaN,REGION_36.bam
37,chr17,17051531,17051554,VEGFA_site2_chr17_16954852_141,CTCCCCCGCCACCCCGCCCCAGG,NaN,NaN,REGION_37.bam
38,chr20,10933306,10933329,VEGFA_site2_chr20_10913961_138,CCACCCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_38.bam
39,chr1,939940,939963,VEGFA_site2_chr1_875337_135,GACCCTGTCCACCCCACCTCAGG,NaN,NaN,REGION_39.bam
40,chr7,105293491,105293514,VEGFA_site2_chr7_104933955_135,TCCACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_40.bam
41,chr9,123375895,123375918,VEGFA_site2_chr9_126138181_128,CACTCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_41.bam
42,chr10,132143134,132143157,VEGFA_site2_chr10_133956644_126,AGCCCCCCCCACCCCGACTCAGG,NaN,NaN,REGION_42.bam
43,chr12,25872155,25872178,VEGFA_site2_chr12_26025095_123,CATTCCCCCCACCCCACCTCAGG,NaN,NaN,REGION_43.bam
44,chr5,14457377,14457400,VEGFA_site2_chr5_14457504_122,CCCCCCCCCCGCCCCGCCCCCCG,NaN,NaN,REGION_44.bam
45,chr11,12287370,12287393,VEGFA_site2_chr11_12308933_121,ATCCCCCTCCACCCCACCCCTGG,NaN,NaN,REGION_45.bam
46,chr3,140679941,140679964,VEGFA_site2_chr3_140398800_111,CAACCCCCCCACCCCGCTTCAGG,NaN,NaN,REGION_46.bam
47,chr2,128486621,128486644,VEGFA_site2_chr2_129244202_108,CCCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_47.bam
48,chr2,169716823,169716846,VEGFA_site2_chr2_170573355_98,CCACCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_48.bam
49,chr2,11559821,11559844,VEGFA_site2_chr2_11699964_95,CTCCCTCCCCACCCCACCTCTGG,NaN,NaN,REGION_49.bam
50,chr4,1494513,1494536,VEGFA_site2_chr4_1496257_92,AGGCCCCCACACCCCGCCTCAGG,NaN,NaN,REGION_50.bam
51,chr2,24634707,24634730,VEGFA_site2_chr2_24857593_87,ACCCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_51.bam
52,chr4,7327802,7327825,VEGFA_site2_chr4_7329546_87,GCCCCCCCCAACCCCGCCCCCGG,NaN,NaN,REGION_52.bam
53,chr10,70778444,70778467,VEGFA_site2_chr10_72538217_75,CAGTCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_53.bam
54,chr22,44739007,44739030,VEGFA_site2_chr22_45134894_75,CACCCACTACTCCCCGCCTCAGG,NaN,NaN,REGION_54.bam
55,chr19,45448779,45448802,VEGFA_site2_chr19_45952054_74,AAGACCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_55.bam
56,chr5,171451048,171451071,VEGFA_site2_chr5_170878070_71,CCGCCCCCCCACCCCGCCGCCGG,NaN,NaN,REGION_56.bam
57,chr5,139648654,139648677,VEGFA_site2_chr5_139028256_65,CTCCCCCCCCTCCCCGCCTCGGG,NaN,NaN,REGION_57.bam
58,chr7,50697814,50697837,VEGFA_site2_chr7_50765529_65,AACCACCCCCACCCCACCCCAGG,NaN,NaN,REGION_58.bam
59,chr11,83722550,83722573,VEGFA_site2_chr11_83433600_65,GTCACTCCCCACCCCGCCTCTGG,NaN,NaN,REGION_59.bam
60,chrX,119731513,119731536,VEGFA_site2_chrX_118865483_63,GTCCTCCACCACCCCGCCTCTGG,NaN,NaN,REGION_60.bam
61,chr5,156894113,156894136,VEGFA_site2_chr5_156321140_59,GACCCCACCTACCCCACCTCAGG,NaN,NaN,REGION_61.bam
62,chr22,47115342,47115365,VEGFA_site2_chr22_47511254_52,GCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_62.bam
63,chr2,105374363,105374386,VEGFA_site2_chr2_105990827_45,GGGCCCTCCCACCTCGCCCCTGG,NaN,NaN,REGION_63.bam
64,chr11,2665012,2665035,VEGFA_site2_chr11_2686249_40,CTCACCCCCCACCCCACCTCTGG,NaN,NaN,REGION_64.bam
65,chr16,85304593,85304616,VEGFA_site2_chr16_85338205_37,ATGCCCCACCCCCCCGCCCCCGG,NaN,NaN,REGION_65.bam
66,chrX,153571653,153571676,VEGFA_site2_chrX_152837128_37,GTCCCCCTCCTCCCCACCTCCGG,NaN,NaN,REGION_66.bam
67,chr22,39706378,39706401,VEGFA_site2_chr22_40102400_36,GTCCCTCCCCACCCCGCCTTGGG,NaN,NaN,REGION_67.bam
68,chr17,67636857,67636880,VEGFA_site2_chr17_65632990_35,AACACCCTCCACCCCACCACAGG,NaN,NaN,REGION_68.bam
69,chr4,142846213,142846236,VEGFA_site2_chr4_143767373_34,GCCGCCCCCCACTCCGCCTCCGG,NaN,NaN,REGION_69.bam
70,chr10,101061743,101061766,VEGFA_site2_chr10_102821517_32,CTACCCCCACTCCCCGCCTCCGG,NaN,NaN,REGION_70.bam
71,chr19,42302642,42302665,VEGFA_site2_chr19_42806801_32,TTCTCCCTCCTCCCCGCCTCGGG,NaN,NaN,REGION_71.bam
72,chr9,137368986,137369009,VEGFA_site2_chr9_140263445_31,AAGCCCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_72.bam
73,chr17,57663161,57663184,VEGFA_site2_chr17_55740529_31,CCGCCCCTCCACCCCGCCACTGG,NaN,NaN,REGION_73.bam
74,chr16,57940327,57940350,VEGFA_site2_chr16_57974238_30,TATCCTCCCCACCCCGCCCCGGG,NaN,NaN,REGION_74.bam
75,chr5,133524667,133524690,VEGFA_site2_chr5_132860375_29,TGCACCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_75.bam
76,chr11,45774498,45774521,VEGFA_site2_chr11_45796055_29,ATCCCTCTCCACCCCACCCCAGG,NaN,NaN,REGION_76.bam
77,chr17,64089687,64089710,VEGFA_site2_chr17_62167053_29,ACTCCCCTCCACCCCGGCTCGGG,NaN,NaN,REGION_77.bam
78,chr11,67584045,67584068,VEGFA_site2_chr11_67351523_27,TGCCCCCTCT-CCCCGCCCCCGG,NaN,NaN,REGION_78.bam
79,chr1,237032374,237032397,VEGFA_site2_chr1_237195681_25,AACCCCACCCACCCCATCTCAGG,NaN,NaN,REGION_79.bam
80,chr9,128944296,128944319,VEGFA_site2_chr9_131706582_25,AGCCAACCCCACCCCGCCTCTGG,NaN,NaN,REGION_80.bam
81,chr22,43288472,43288495,VEGFA_site2_chr22_43684495_25,AGCCCCCACCTCCCCGCCTCGGG,NaN,NaN,REGION_81.bam
82,chr15,78565376,78565399,VEGFA_site2_chr15_78857725_24,TCCCCACCCCGCCCCGCCTCTGG,NaN,NaN,REGION_82.bam
83,chr19,36268225,36268248,VEGFA_site2_chr19_36759134_24,TCCCACCCCCACCCCGCCACGGG,NaN,NaN,REGION_83.bam
84,chr2,220671105,220671128,VEGFA_site2_chr2_221535832_23,ACACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_84.bam
85,chr3,49812737,49812760,VEGFA_site2_chr3_49850177_23,GACCCCTACCACCCCATCTCAGG,NaN,NaN,REGION_85.bam
86,chr2,100820988,100821011,VEGFA_site2_chr2_101437467_22,CCGCCCCCCCACCCCAACTCCGG,NaN,NaN,REGION_86.bam
87,chr14,89936960,89936983,VEGFA_site2_chr14_90403321_21,GTCCCCTCCCACCCCGCCTCCAG,NaN,NaN,REGION_87.bam
88,chr17,48026474,48026497,VEGFA_site2_chr17_46103848_21,AACCTCCCCCACCCCACCCCAGG,NaN,NaN,REGION_88.bam
89,chr1,1358875,1358898,VEGFA_site2_chr1_1294273_19,TGGCCCCTCCGCCCCACCTCTGG,NaN,NaN,REGION_89.bam
90,chr11,61553960,61553983,VEGFA_site2_chr11_61321439_19,CACCCCCTCCCCTCCGCCTCAGG,NaN,NaN,REGION_90.bam
91,chr9,37465350,37465373,VEGFA_site2_chr9_37465365_18,CCCCCCTCCCACCCCGCCTCTAG,NaN,NaN,REGION_91.bam
92,chr18,57434111,57434134,VEGFA_site2_chr18_55101360_18,CTACCCCTCCACCCCGACTCGGA,NaN,NaN,REGION_92.bam
93,chr20,37362723,37362746,VEGFA_site2_chr20_35991133_18,AGACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_93.bam
94,chr2,149534882,149534905,VEGFA_site2_chr2_150391412_17,ACGCCCCCCCACCCCACGTCTGG,NaN,NaN,REGION_94.bam
95,chr7,44213950,44213973,VEGFA_site2_chr7_44253556_17,GGCCCACTCCACTCCGTCTCCGG,NaN,NaN,REGION_95.bam
96,chr8,39981549,39981572,VEGFA_site2_chr8_39839086_17,CACACCCACCACCCCGCCTCAGA,NaN,NaN,REGION_96.bam
97,chr11,32162932,32162955,VEGFA_site2_chr11_32184484_16,CACCCCCCGCACCCCGCCCCAGG,NaN,NaN,REGION_97.bam
98,chr17,60327490,60327513,VEGFA_site2_chr17_58404869_16,CGCCCACCCCACCCCACCTCAGG,NaN,NaN,REGION_98.bam
99,chr3,38099767,38099790,VEGFA_site2_chr3_38141265_15,CCCCACCCCCACCCCGCCCCCGG,NaN,NaN,REGION_99.bam
100,chr6,41575694,41575717,VEGFA_site2_chr6_41543448_15,GCCACCCCCCACCCCACCCCAGG,NaN,NaN,REGION_100.bam
101,chr6,43369581,43369604,VEGFA_site2_chr6_43337337_15,GACACACCCCCCCCCGCCTCCGG,NaN,NaN,REGION_101.bam
102,chr7,101507500,101507523,VEGFA_site2_chr7_101150798_15,AACCTCCACCTCCCCGCCTCAGG,NaN,NaN,REGION_102.bam
103,chr8,121355706,121355729,VEGFA_site2_chr8_122367963_15,CCACCATCCCACCCCGCCTCTGG,NaN,NaN,REGION_103.bam
104,chr11,133907545,133907568,VEGFA_site2_chr11_133777457_14,TCTCCCCTCCACCCCGCCCTCGG,NaN,NaN,REGION_104.bam
105,chr12,3091793,3091816,VEGFA_site2_chr12_3200977_14,CACCTCCACAACTCCGCCTCTGG,NaN,NaN,REGION_105.bam
106,chr16,67255527,67255550,VEGFA_site2_chr16_67289447_14,AGGCCCTCCCACCCCGCATCAGG,NaN,NaN,REGION_106.bam
107,chr1,23435751,23435774,VEGFA_site2_chr1_23762251_13,ACTCCCCTCCACCCCACCTCTGA,NaN,NaN,REGION_107.bam
108,chr1,51752230,51752253,VEGFA_site2_chr1_52217921_13,TCCCCCCTCCACCCCCGCCCCCG,NaN,NaN,REGION_108.bam
109,chr2,43381382,43381405,VEGFA_site2_chr2_43608538_13,TACTCCCCCCACCCAGCCTCAGG,NaN,NaN,REGION_109.bam
110,chr17,81923260,81923283,VEGFA_site2_chr17_79881149_13,CACCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_110.bam
111,chr6,36886042,36886065,VEGFA_site2_chr6_36853825_12,GCCTCCCCCCACCCAGCCTCGGG,NaN,NaN,REGION_111.bam
112,chr9,2666721,2666744,VEGFA_site2_chr9_2666738_12,AGCCGCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_112.bam
113,chr9,97970286,97970309,VEGFA_site2_chr9_100732585_12,TCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_113.bam
114,chr19,51412258,51412281,VEGFA_site2_chr19_51915519_12,AACACCCCCCACCCCACCCCGGG,NaN,NaN,REGION_114.bam
115,chr7,131106799,131106822,VEGFA_site2_chr7_130791581_10,GGCCCCACCCACCCCGCCTTCTG,NaN,NaN,REGION_115.bam
116,chr9,127900790,127900813,VEGFA_site2_chr9_130663087_10,CCCCCACCCCACCCCGCCTCCAG,NaN,NaN,REGION_116.bam
117,chr12,132710545,132710568,VEGFA_site2_chr12_133287148_10,CCGCCCCTGCACCCAGCCTCCGG,NaN,NaN,REGION_117.bam
118,chr7,1438966,1438989,VEGFA_site2_chr7_1478608_9,CCCCCTCCCCACCCCGCCGCAGG,NaN,NaN,REGION_118.bam
119,chr8,37393659,37393682,VEGFA_site2_chr8_37251195_9,CACCCCGCCCACCCCGCCCCTGG,NaN,NaN,REGION_119.bam
120,chr19,1028244,1028267,VEGFA_site2_chr19_1028249_9,ACCCCACCCCACCCCGTCTCCGG,NaN,NaN,REGION_120.bam
121,chr19,18522666,18522689,VEGFA_site2_chr19_18633483_9,AGTCCCATCCACCCCGCCTAAGG,NaN,NaN,REGION_121.bam
122,chr20,63944457,63944480,VEGFA_site2_chr20_62575817_9,CCGCCCCCCCATCCCGCCCCAGG,NaN,NaN,REGION_122.bam
123,chr21,45283300,45283323,VEGFA_site2_chr21_46703222_9,CGTCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_123.bam
124,chr3,13145795,13145818,VEGFA_site2_chr3_13187302_8,GACCCCCCCCCCCCGCCCCCGGG,NaN,NaN,REGION_124.bam
125,chr6,31495043,31495066,VEGFA_site2_chr6_31462826_8,CTCCCCCTCCACCCCACCTCCAG,NaN,NaN,REGION_125.bam
126,chr2,222866762,222866785,VEGFA_site2_chr2_223731497_7,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_126.bam
127,chr11,65712291,65712314,VEGFA_site2_chr11_65479769_7,GGCTCCCTCCGCCCCGCCCCGGG,NaN,NaN,REGION_127.bam
128,chr12,86287503,86287526,VEGFA_site2_chr12_86681297_7,TAGCCCCTCCACCCCACCACAGG,NaN,NaN,REGION_128.bam
129,chr12,132044804,132044827,VEGFA_site2_chr12_132529366_7,GACCCCACCCACCCCGCCGCAGG,NaN,NaN,REGION_129.bam
130,chr16,69132801,69132824,VEGFA_site2_chr16_69166711_7,AGTAGCCCCCACCCCGCCTCGGG,NaN,NaN,REGION_130.bam
131,chr12,57210532,57210555,VEGFA_site2_chr12_57604331_6,GCCACCCACCACCCCACCTCAGG,NaN,NaN,REGION_131.bam
132,chr17,74660531,74660554,VEGFA_site2_chr17_72656677_6,TTCCCCTTCCACCCAGCCTCTGG,NaN,NaN,REGION_132.bam
133,chr8,136488152,136488175,VEGFA_site2_chr8_137500402_5,AACCCTCTCCACCCAGTCTCAGG,NaN,NaN,REGION_133.bam
134,chr1,178769585,178769608,VEGFA_site2_chr1_178738727_4,GGCCCTCTCCACTCCACCTCAGG,NaN,NaN,REGION_134.bam
135,chr3,55823450,55823473,VEGFA_site2_chr3_55857495_4,GTCCCCCTCCTCCCCGTCTCAGG,NaN,NaN,REGION_135.bam
136,chr6,26470378,26470401,VEGFA_site2_chr6_26470622_4,GACCCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_136.bam
137,chr6,110199814,110199837,VEGFA_site2_chr6_110521033_4,TGCCCCCTCCACCCCACCTCTGA,NaN,NaN,REGION_137.bam
138,chr9,37990361,37990384,VEGFA_site2_chr9_37990376_4,GGCTCACCCCACCCCACCTCTGG,NaN,NaN,REGION_138.bam
139,chr17,7244144,7244167,VEGFA_site2_chr17_7147480_4,TTTCCCCCCCACCCCAACTCAGG,NaN,NaN,REGION_139.bam
140,chr19,18020497,18020520,VEGFA_site2_chr19_18131314_4,CCCCACCCCCACCCCACCTCTGG,NaN,NaN,REGION_140.bam
141,chr19,44821307,44821330,VEGFA_site2_chr19_45324581_4,CCCCCCCCTCACCCCGCCCCTGG,NaN,NaN,REGION_141.bam
142,chr2,85288363,85288386,VEGFA_site2_chr2_85515492_3,TCCTCCTTCCACTCCGCCTCTGG,NaN,NaN,REGION_142.bam
143,chr5,123230115,123230138,VEGFA_site2_chr5_122565828_3,CTCCCCCTACACCCCGCAACAGG,NaN,NaN,REGION_143.bam
144,chr9,33202609,33202632,VEGFA_site2_chr9_33202624_3,GTCCCCTCCCTCCCCGCCTCTGG,NaN,NaN,REGION_144.bam
145,chr9,98169003,98169026,VEGFA_site2_chr9_100931292_3,CCACCCCTCCACCCCGTCCCAGG,NaN,NaN,REGION_145.bam
146,chr12,123409108,123409131,VEGFA_site2_chr12_123893673_3,TTCCCCCCCAACCCCACCTCGGG,NaN,NaN,REGION_146.bam
147,chr19,1494314,1494337,VEGFA_site2_chr19_1494330_3,CCTGCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_147.bam
148,chr22,22918017,22918040,VEGFA_site2_chr22_23260204_3,GACCCCCTTCACCCCACCTATGG,NaN,NaN,REGION_148.bam
149,chr3,65089966,65089989,VEGFA_site2_chr3_65075658_2,CCCCCCCTCCACCCCACTTCAGG,NaN,NaN,REGION_149.bam
150,chr13,114030020,114030043,VEGFA_site2_chr13_114795514_2,CAGCCCCTCCACTCCACCCCCGG,NaN,NaN,REGION_150.bam
151,chr14,104134854,104134877,VEGFA_site2_chr14_104601208_2,AGCCCCCCCCTCCCCGCCCCAGG,NaN,NaN,REGION_151.bam

In [219]:
#figure out the strandedness of each off target region and add that to the table

#not quite sure why some of the off-targets dpn't match exactly
strandedness = []

for index, row in vegfa_df.iterrows():
    off_target_seq = row['off_target'].upper()
    ref_sequence = fasta.fetch(row['chrom'], row['start'], row['end']).upper()

    if ref_sequence == off_target_seq:
        strand = '+'
    elif ref_sequence[::-1].translate(str.maketrans("ACGT", "TGCA")) == off_target_seq:
        strand = '-'
    else:
        print(ref_sequence)
        print(off_target_seq)
        print('\n')
        strand = "unknown"
    strandedness.append(strand)
strandedness


vegfa_df['strandedness'] = strandedness

vegfa_df

CTCCCCACCCACCCCGCCTCAGG
CTCCCCCCCCACCCCGCCTCAGG


TCCCCCCCACCCCCGACCTCAGG
TCCCCCCCACCCCCCACCTCAGG


CCCGGGGCGGAATGGGGAGGGCG
CGCCCTCCCCACTCCGCCTCGGG


CCGGGGGCGGGGAGGGGGGGCAG
TGCCCCCTCT-CCCCGCCCCCGG


GTCCCCCTCCTCCCTGTCTCAGG
GTCCCCCTCCTCCCCGTCTCAGG


CCAGAGATGGGGTGGGGGTGGGG
CCCCACCCCCACCCCACCTCTGG

,chrom,start,end,name,off_target,na,na2,REGION,strandedness
0,chr5,6714988,6715011,VEGFA_site2_chr5_6715118_1925,CTACCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_0.bam,+
1,chr2,241275174,241275197,VEGFA_site2_chr2_242214606_1549,ATTCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_1.bam,+
2,chr9,100837360,100837383,VEGFA_site2_chr9_103599649_1178,ACACCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_2.bam,-
3,chr16,56929510,56929533,VEGFA_site2_chr16_56963429_1107,TGCCCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_3.bam,-
4,chr4,38535989,38536012,VEGFA_site2_chr4_38537627_1054,CTCCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_4.bam,unknown
5,chr11,72237743,72237766,VEGFA_site2_chr11_71948805_919,GCTTCCCTCCACCCCGCATCCGG,NaN,NaN,REGION_5.bam,+
6,chr17,4455450,4455473,VEGFA_site2_chr17_4358752_803,TACCCCCCACACCCCGCCTCTGG,NaN,NaN,REGION_6.bam,-
7,chr17,41888497,41888520,VEGFA_site2_chr17_40044757_791,TGCCCCTCCCACCCCGCCTCTGG,NaN,NaN,REGION_7.bam,-
8,chr9,27338859,27338882,VEGFA_site2_chr9_27338874_767,GACCCCTCCCACCCCGACTCCGG,NaN,NaN,REGION_8.bam,+
9,chr8,143740774,143740797,VEGFA_site2_chr8_144822961_728,GTACCCCACCACCCCGCCCCAGG,NaN,NaN,REGION_9.bam,+
10,chr10,114534490,114534513,VEGFA_site2_chr10_116294256_704,CCCCACCCCCACCCCGCCTCAGG,NaN,NaN,REGION_10.bam,-
11,chr22,50446356,50446379,VEGFA_site2_chr22_50884803_704,CCCCCCCCCCCCCCCGCCTCCGG,NaN,NaN,REGION_11.bam,+
12,chr11,76784738,76784761,VEGFA_site2_chr11_76495788_627,CACCCCCCCCCCCCCACCTCCGG,NaN,NaN,REGION_12.bam,-
13,chr1,151059392,151059415,VEGFA_site2_chr1_151031887_625,CCTCCCCCACACCCCGCATCCGG,NaN,NaN,REGION_13.bam,+
14,chr8,143934230,143934253,VEGFA_site2_chr8_145008405_603,CCCCCTCCCCGCCCCGCCCCCGG,NaN,NaN,REGION_14.bam,-
15,chr6,43770818,43770841,VEGFA_site2_chr6_43738562_540,GACCCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_15.bam,-
16,chr11,31795928,31795951,VEGFA_site2_chr11_31817483_483,GGGCCCCTCCACCCCGCCTCTGG,NaN,NaN,REGION_16.bam,-
17,chr10,133336426,133336449,VEGFA_site2_chr10_135149947_446,CGCCCTCCCCACCCCGCCTCCGG,NaN,NaN,REGION_17.bam,+
18,chr2,12604632,12604655,VEGFA_site2_chr2_12744775_414,GACACACCCCACCCCACCTCAGG,NaN,NaN,REGION_18.bam,+
19,chr15,32993899,32993922,VEGFA_site2_chr15_33286107_391,GACCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_19.bam,-
20,chr13,26052087,26052110,VEGFA_site2_chr13_26626241_365,TCCCCCCCACCCCCCACCTCAGG,NaN,NaN,REGION_20.bam,unknown
21,chr11,63623611,63623634,VEGFA_site2_chr11_63391090_362,GACACCTTCCACCCCGTCTCTGG,NaN,NaN,REGION_21.bam,-
22,chr18,23779588,23779611,VEGFA_site2_chr18_21359559_357,GCCCCCACCCACCCCGCCTCTGG,NaN,NaN,REGION_22.bam,-
23,chr11,46120297,46120320,VEGFA_site2_chr11_46141855_336,CATCCCCCCCACCCCACCCCGGG,NaN,NaN,REGION_23.bam,-
24,chrX,150764038,150764061,VEGFA_site2_chrX_149932528_330,CTGCCCCCCCACCCCGCCACTGG,NaN,NaN,REGION_24.bam,+
25,chr13,99894728,99894751,VEGFA_site2_chr13_100546988_303,CCCCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_25.bam,-
26,chr19,13011357,13011380,VEGFA_site2_chr19_13122188_291,GCCCCCCACCACCCCACCTCGGG,NaN,NaN,REGION_26.bam,+
27,chr16,82700959,82700982,VEGFA_site2_chr16_82734581_278,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_27.bam,+
28,chrX,129906647,129906670,VEGFA_site2_chrX_129040641_263,TGCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_28.bam,+
29,chr3,31417159,31417182,VEGFA_site2_chr3_31458658_256,CTTCCCCCACACCCCGCCCCAGG,NaN,NaN,REGION_29.bam,-
30,chr11,374660,374683,VEGFA_site2_chr11_374666_252,AGGCCCCCCCGCCCCGCCTCAGG,NaN,NaN,REGION_30.bam,-
31,chr11,13926806,13926829,VEGFA_site2_chr11_13948370_246,TACCCCCCCCACCCCGCCACAGG,NaN,NaN,REGION_31.bam,+
32,chr4,8840184,8840207,VEGFA_site2_chr4_8841917_235,CATACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_32.bam,-
33,chr9,136546388,136546411,VEGFA_site2_chr9_139440844_202,CGCCCTCCCCACTCCGCCTCGGG,NaN,NaN,REGION_33.bam,unknown
34,chr19,14032156,14032179,VEGFA_site2_chr19_14142975_192,GAGCTCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_34.bam,-
35,chr7,95690358,95690381,VEGFA_site2_chr7_95319677_179,GACCCCTCACACCCCGCCCCTGG,NaN,NaN,REGION_35.bam,-
36,chr8,18184030,18184053,VEGFA_site2_chr8_18041545_160,CCCCCCCACCACCCCGCCCCGGG,NaN,NaN,REGION_36.bam,-
37,chr17,17051531,17051554,VEGFA_site2_chr17_16954852_141,CTCCCCCGCCACCCCGCCCCAGG,NaN,NaN,REGION_37.bam,-
38,chr20,10933306,10933329,VEGFA_site2_chr20_10913961_138,CCACCCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_38.bam,-
39,chr1,939940,939963,VEGFA_site2_chr1_875337_135,GACCCTGTCCACCCCACCTCAGG,NaN,NaN,REGION_39.bam,+
40,chr7,105293491,105293514,VEGFA_site2_chr7_104933955_135,TCCACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_40.bam,+
41,chr9,123375895,123375918,VEGFA_site2_chr9_126138181_128,CACTCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_41.bam,-
42,chr10,132143134,132143157,VEGFA_site2_chr10_133956644_126,AGCCCCCCCCACCCCGACTCAGG,NaN,NaN,REGION_42.bam,-
43,chr12,25872155,25872178,VEGFA_site2_chr12_26025095_123,CATTCCCCCCACCCCACCTCAGG,NaN,NaN,REGION_43.bam,-
44,chr5,14457377,14457400,VEGFA_site2_chr5_14457504_122,CCCCCCCCCCGCCCCGCCCCCCG,NaN,NaN,REGION_44.bam,+
45,chr11,12287370,12287393,VEGFA_site2_chr11_12308933_121,ATCCCCCTCCACCCCACCCCTGG,NaN,NaN,REGION_45.bam,+
46,chr3,140679941,140679964,VEGFA_site2_chr3_140398800_111,CAACCCCCCCACCCCGCTTCAGG,NaN,NaN,REGION_46.bam,+
47,chr2,128486621,128486644,VEGFA_site2_chr2_129244202_108,CCCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_47.bam,-
48,chr2,169716823,169716846,VEGFA_site2_chr2_170573355_98,CCACCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_48.bam,+
49,chr2,11559821,11559844,VEGFA_site2_chr2_11699964_95,CTCCCTCCCCACCCCACCTCTGG,NaN,NaN,REGION_49.bam,+
50,chr4,1494513,1494536,VEGFA_site2_chr4_1496257_92,AGGCCCCCACACCCCGCCTCAGG,NaN,NaN,REGION_50.bam,+
51,chr2,24634707,24634730,VEGFA_site2_chr2_24857593_87,ACCCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_51.bam,+
52,chr4,7327802,7327825,VEGFA_site2_chr4_7329546_87,GCCCCCCCCAACCCCGCCCCCGG,NaN,NaN,REGION_52.bam,+
53,chr10,70778444,70778467,VEGFA_site2_chr10_72538217_75,CAGTCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_53.bam,+
54,chr22,44739007,44739030,VEGFA_site2_chr22_45134894_75,CACCCACTACTCCCCGCCTCAGG,NaN,NaN,REGION_54.bam,-
55,chr19,45448779,45448802,VEGFA_site2_chr19_45952054_74,AAGACCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_55.bam,+
56,chr5,171451048,171451071,VEGFA_site2_chr5_170878070_71,CCGCCCCCCCACCCCGCCGCCGG,NaN,NaN,REGION_56.bam,+
57,chr5,139648654,139648677,VEGFA_site2_chr5_139028256_65,CTCCCCCCCCTCCCCGCCTCGGG,NaN,NaN,REGION_57.bam,+
58,chr7,50697814,50697837,VEGFA_site2_chr7_50765529_65,AACCACCCCCACCCCACCCCAGG,NaN,NaN,REGION_58.bam,+
59,chr11,83722550,83722573,VEGFA_site2_chr11_83433600_65,GTCACTCCCCACCCCGCCTCTGG,NaN,NaN,REGION_59.bam,-
60,chrX,119731513,119731536,VEGFA_site2_chrX_118865483_63,GTCCTCCACCACCCCGCCTCTGG,NaN,NaN,REGION_60.bam,-
61,chr5,156894113,156894136,VEGFA_site2_chr5_156321140_59,GACCCCACCTACCCCACCTCAGG,NaN,NaN,REGION_61.bam,+
62,chr22,47115342,47115365,VEGFA_site2_chr22_47511254_52,GCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_62.bam,+
63,chr2,105374363,105374386,VEGFA_site2_chr2_105990827_45,GGGCCCTCCCACCTCGCCCCTGG,NaN,NaN,REGION_63.bam,-
64,chr11,2665012,2665035,VEGFA_site2_chr11_2686249_40,CTCACCCCCCACCCCACCTCTGG,NaN,NaN,REGION_64.bam,-
65,chr16,85304593,85304616,VEGFA_site2_chr16_85338205_37,ATGCCCCACCCCCCCGCCCCCGG,NaN,NaN,REGION_65.bam,-
66,chrX,153571653,153571676,VEGFA_site2_chrX_152837128_37,GTCCCCCTCCTCCCCACCTCCGG,NaN,NaN,REGION_66.bam,+
67,chr22,39706378,39706401,VEGFA_site2_chr22_40102400_36,GTCCCTCCCCACCCCGCCTTGGG,NaN,NaN,REGION_67.bam,+
68,chr17,67636857,67636880,VEGFA_site2_chr17_65632990_35,AACACCCTCCACCCCACCACAGG,NaN,NaN,REGION_68.bam,+
69,chr4,142846213,142846236,VEGFA_site2_chr4_143767373_34,GCCGCCCCCCACTCCGCCTCCGG,NaN,NaN,REGION_69.bam,-
70,chr10,101061743,101061766,VEGFA_site2_chr10_102821517_32,CTACCCCCACTCCCCGCCTCCGG,NaN,NaN,REGION_70.bam,+
71,chr19,42302642,42302665,VEGFA_site2_chr19_42806801_32,TTCTCCCTCCTCCCCGCCTCGGG,NaN,NaN,REGION_71.bam,-
72,chr9,137368986,137369009,VEGFA_site2_chr9_140263445_31,AAGCCCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_72.bam,-
73,chr17,57663161,57663184,VEGFA_site2_chr17_55740529_31,CCGCCCCTCCACCCCGCCACTGG,NaN,NaN,REGION_73.bam,-
74,chr16,57940327,57940350,VEGFA_site2_chr16_57974238_30,TATCCTCCCCACCCCGCCCCGGG,NaN,NaN,REGION_74.bam,-
75,chr5,133524667,133524690,VEGFA_site2_chr5_132860375_29,TGCACCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_75.bam,+
76,chr11,45774498,45774521,VEGFA_site2_chr11_45796055_29,ATCCCTCTCCACCCCACCCCAGG,NaN,NaN,REGION_76.bam,-
77,chr17,64089687,64089710,VEGFA_site2_chr17_62167053_29,ACTCCCCTCCACCCCGGCTCGGG,NaN,NaN,REGION_77.bam,-
78,chr11,67584045,67584068,VEGFA_site2_chr11_67351523_27,TGCCCCCTCT-CCCCGCCCCCGG,NaN,NaN,REGION_78.bam,unknown
79,chr1,237032374,237032397,VEGFA_site2_chr1_237195681_25,AACCCCACCCACCCCATCTCAGG,NaN,NaN,REGION_79.bam,-
80,chr9,128944296,128944319,VEGFA_site2_chr9_131706582_25,AGCCAACCCCACCCCGCCTCTGG,NaN,NaN,REGION_80.bam,-
81,chr22,43288472,43288495,VEGFA_site2_chr22_43684495_25,AGCCCCCACCTCCCCGCCTCGGG,NaN,NaN,REGION_81.bam,+
82,chr15,78565376,78565399,VEGFA_site2_chr15_78857725_24,TCCCCACCCCGCCCCGCCTCTGG,NaN,NaN,REGION_82.bam,-
83,chr19,36268225,36268248,VEGFA_site2_chr19_36759134_24,TCCCACCCCCACCCCGCCACGGG,NaN,NaN,REGION_83.bam,-
84,chr2,220671105,220671128,VEGFA_site2_chr2_221535832_23,ACACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_84.bam,-
85,chr3,49812737,49812760,VEGFA_site2_chr3_49850177_23,GACCCCTACCACCCCATCTCAGG,NaN,NaN,REGION_85.bam,-
86,chr2,100820988,100821011,VEGFA_site2_chr2_101437467_22,CCGCCCCCCCACCCCAACTCCGG,NaN,NaN,REGION_86.bam,+
87,chr14,89936960,89936983,VEGFA_site2_chr14_90403321_21,GTCCCCTCCCACCCCGCCTCCAG,NaN,NaN,REGION_87.bam,+
88,chr17,48026474,48026497,VEGFA_site2_chr17_46103848_21,AACCTCCCCCACCCCACCCCAGG,NaN,NaN,REGION_88.bam,-
89,chr1,1358875,1358898,VEGFA_site2_chr1_1294273_19,TGGCCCCTCCGCCCCACCTCTGG,NaN,NaN,REGION_89.bam,+
90,chr11,61553960,61553983,VEGFA_site2_chr11_61321439_19,CACCCCCTCCCCTCCGCCTCAGG,NaN,NaN,REGION_90.bam,-
91,chr9,37465350,37465373,VEGFA_site2_chr9_37465365_18,CCCCCCTCCCACCCCGCCTCTAG,NaN,NaN,REGION_91.bam,+
92,chr18,57434111,57434134,VEGFA_site2_chr18_55101360_18,CTACCCCTCCACCCCGACTCGGA,NaN,NaN,REGION_92.bam,+
93,chr20,37362723,37362746,VEGFA_site2_chr20_35991133_18,AGACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_93.bam,-
94,chr2,149534882,149534905,VEGFA_site2_chr2_150391412_17,ACGCCCCCCCACCCCACGTCTGG,NaN,NaN,REGION_94.bam,+
95,chr7,44213950,44213973,VEGFA_site2_chr7_44253556_17,GGCCCACTCCACTCCGTCTCCGG,NaN,NaN,REGION_95.bam,-
96,chr8,39981549,39981572,VEGFA_site2_chr8_39839086_17,CACACCCACCACCCCGCCTCAGA,NaN,NaN,REGION_96.bam,+
97,chr11,32162932,32162955,VEGFA_site2_chr11_32184484_16,CACCCCCCGCACCCCGCCCCAGG,NaN,NaN,REGION_97.bam,-
98,chr17,60327490,60327513,VEGFA_site2_chr17_58404869_16,CGCCCACCCCACCCCACCTCAGG,NaN,NaN,REGION_98.bam,+
99,chr3,38099767,38099790,VEGFA_site2_chr3_38141265_15,CCCCACCCCCACCCCGCCCCCGG,NaN,NaN,REGION_99.bam,-
100,chr6,41575694,41575717,VEGFA_site2_chr6_41543448_15,GCCACCCCCCACCCCACCCCAGG,NaN,NaN,REGION_100.bam,+
101,chr6,43369581,43369604,VEGFA_site2_chr6_43337337_15,GACACACCCCCCCCCGCCTCCGG,NaN,NaN,REGION_101.bam,+
102,chr7,101507500,101507523,VEGFA_site2_chr7_101150798_15,AACCTCCACCTCCCCGCCTCAGG,NaN,NaN,REGION_102.bam,+
103,chr8,121355706,121355729,VEGFA_site2_chr8_122367963_15,CCACCATCCCACCCCGCCTCTGG,NaN,NaN,REGION_103.bam,+
104,chr11,133907545,133907568,VEGFA_site2_chr11_133777457_14,TCTCCCCTCCACCCCGCCCTCGG,NaN,NaN,REGION_104.bam,+
105,chr12,3091793,3091816,VEGFA_site2_chr12_3200977_14,CACCTCCACAACTCCGCCTCTGG,NaN,NaN,REGION_105.bam,+
106,chr16,67255527,67255550,VEGFA_site2_chr16_67289447_14,AGGCCCTCCCACCCCGCATCAGG,NaN,NaN,REGION_106.bam,+
107,chr1,23435751,23435774,VEGFA_site2_chr1_23762251_13,ACTCCCCTCCACCCCACCTCTGA,NaN,NaN,REGION_107.bam,-
108,chr1,51752230,51752253,VEGFA_site2_chr1_52217921_13,TCCCCCCTCCACCCCCGCCCCCG,NaN,NaN,REGION_108.bam,+
109,chr2,43381382,43381405,VEGFA_site2_chr2_43608538_13,TACTCCCCCCACCCAGCCTCAGG,NaN,NaN,REGION_109.bam,+
110,chr17,81923260,81923283,VEGFA_site2_chr17_79881149_13,CACCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_110.bam,+
111,chr6,36886042,36886065,VEGFA_site2_chr6_36853825_12,GCCTCCCCCCACCCAGCCTCGGG,NaN,NaN,REGION_111.bam,-
112,chr9,2666721,2666744,VEGFA_site2_chr9_2666738_12,AGCCGCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_112.bam,+
113,chr9,97970286,97970309,VEGFA_site2_chr9_100732585_12,TCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_113.bam,+
114,chr19,51412258,51412281,VEGFA_site2_chr19_51915519_12,AACACCCCCCACCCCACCCCGGG,NaN,NaN,REGION_114.bam,-
115,chr7,131106799,131106822,VEGFA_site2_chr7_130791581_10,GGCCCCACCCACCCCGCCTTCTG,NaN,NaN,REGION_115.bam,+
116,chr9,127900790,127900813,VEGFA_site2_chr9_130663087_10,CCCCCACCCCACCCCGCCTCCAG,NaN,NaN,REGION_116.bam,+
117,chr12,132710545,132710568,VEGFA_site2_chr12_133287148_10,CCGCCCCTGCACCCAGCCTCCGG,NaN,NaN,REGION_117.bam,+
118,chr7,1438966,1438989,VEGFA_site2_chr7_1478608_9,CCCCCTCCCCACCCCGCCGCAGG,NaN,NaN,REGION_118.bam,-
119,chr8,37393659,37393682,VEGFA_site2_chr8_37251195_9,CACCCCGCCCACCCCGCCCCTGG,NaN,NaN,REGION_119.bam,+
120,chr19,1028244,1028267,VEGFA_site2_chr19_1028249_9,ACCCCACCCCACCCCGTCTCCGG,NaN,NaN,REGION_120.bam,-
121,chr19,18522666,18522689,VEGFA_site2_chr19_18633483_9,AGTCCCATCCACCCCGCCTAAGG,NaN,NaN,REGION_121.bam,-
122,chr20,63944457,63944480,VEGFA_site2_chr20_62575817_9,CCGCCCCCCCATCCCGCCCCAGG,NaN,NaN,REGION_122.bam,-
123,chr21,45283300,45283323,VEGFA_site2_chr21_46703222_9,CGTCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_123.bam,-
124,chr3,13145795,13145818,VEGFA_site2_chr3_13187302_8,GACCCCCCCCCCCCGCCCCCGGG,NaN,NaN,REGION_124.bam,-
125,chr6,31495043,31495066,VEGFA_site2_chr6_31462826_8,CTCCCCCTCCACCCCACCTCCAG,NaN,NaN,REGION_125.bam,-
126,chr2,222866762,222866785,VEGFA_site2_chr2_223731497_7,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_126.bam,+
127,chr11,65712291,65712314,VEGFA_site2_chr11_65479769_7,GGCTCCCTCCGCCCCGCCCCGGG,NaN,NaN,REGION_127.bam,-
128,chr12,86287503,86287526,VEGFA_site2_chr12_86681297_7,TAGCCCCTCCACCCCACCACAGG,NaN,NaN,REGION_128.bam,+
129,chr12,132044804,132044827,VEGFA_site2_chr12_132529366_7,GACCCCACCCACCCCGCCGCAGG,NaN,NaN,REGION_129.bam,+
130,chr16,69132801,69132824,VEGFA_site2_chr16_69166711_7,AGTAGCCCCCACCCCGCCTCGGG,NaN,NaN,REGION_130.bam,-
131,chr12,57210532,57210555,VEGFA_site2_chr12_57604331_6,GCCACCCACCACCCCACCTCAGG,NaN,NaN,REGION_131.bam,+
132,chr17,74660531,74660554,VEGFA_site2_chr17_72656677_6,TTCCCCTTCCACCCAGCCTCTGG,NaN,NaN,REGION_132.bam,-
133,chr8,136488152,136488175,VEGFA_site2_chr8_137500402_5,AACCCTCTCCACCCAGTCTCAGG,NaN,NaN,REGION_133.bam,-
134,chr1,178769585,178769608,VEGFA_site2_chr1_178738727_4,GGCCCTCTCCACTCCACCTCAGG,NaN,NaN,REGION_134.bam,-
135,chr3,55823450,55823473,VEGFA_site2_chr3_55857495_4,GTCCCCCTCCTCCCCGTCTCAGG,NaN,NaN,REGION_135.bam,unknown
136,chr6,26470378,26470401,VEGFA_site2_chr6_26470622_4,GACCCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_136.bam,+
137,chr6,110199814,110199837,VEGFA_site2_chr6_110521033_4,TGCCCCCTCCACCCCACCTCTGA,NaN,NaN,REGION_137.bam,+
138,chr9,37990361,37990384,VEGFA_site2_chr9_37990376_4,GGCTCACCCCACCCCACCTCTGG,NaN,NaN,REGION_138.bam,+
139,chr17,7244144,7244167,VEGFA_site2_chr17_7147480_4,TTTCCCCCCCACCCCAACTCAGG,NaN,NaN,REGION_139.bam,+
140,chr19,18020497,18020520,VEGFA_site2_chr19_18131314_4,CCCCACCCCCACCCCACCTCTGG,NaN,NaN,REGION_140.bam,unknown
141,chr19,44821307,44821330,VEGFA_site2_chr19_45324581_4,CCCCCCCCTCACCCCGCCCCTGG,NaN,NaN,REGION_141.bam,+
142,chr2,85288363,85288386,VEGFA_site2_chr2_85515492_3,TCCTCCTTCCACTCCGCCTCTGG,NaN,NaN,REGION_142.bam,-
143,chr5,123230115,123230138,VEGFA_site2_chr5_122565828_3,CTCCCCCTACACCCCGCAACAGG,NaN,NaN,REGION_143.bam,+
144,chr9,33202609,33202632,VEGFA_site2_chr9_33202624_3,GTCCCCTCCCTCCCCGCCTCTGG,NaN,NaN,REGION_144.bam,+
145,chr9,98169003,98169026,VEGFA_site2_chr9_100931292_3,CCACCCCTCCACCCCGTCCCAGG,NaN,NaN,REGION_145.bam,-
146,chr12,123409108,123409131,VEGFA_site2_chr12_123893673_3,TTCCCCCCCAACCCCACCTCGGG,NaN,NaN,REGION_146.bam,+
147,chr19,1494314,1494337,VEGFA_site2_chr19_1494330_3,CCTGCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_147.bam,+
148,chr22,22918017,22918040,VEGFA_site2_chr22_23260204_3,GACCCCCTTCACCCCACCTATGG,NaN,NaN,REGION_148.bam,+
149,chr3,65089966,65089989,VEGFA_site2_chr3_65075658_2,CCCCCCCTCCACCCCACTTCAGG,NaN,NaN,REGION_149.bam,+
150,chr13,114030020,114030043,VEGFA_site2_chr13_114795514_2,CAGCCCCTCCACTCCACCCCCGG,NaN,NaN,REGION_150.bam,+
151,chr14,104134854,104134877,VEGFA_site2_chr14_104601208_2,AGCCCCCCCCTCCCCGCCCCAGG,NaN,NaN,REGION_151.bam,+

In [220]:
del_dict_hg1 = {}
ins_dict_hg1 = {}
indel_dict_hg1 = {}

for bam in bam_files_HG_1:
    #find the deletions
    chrom = vegfa_df[vegfa_df['REGION'] == bam]['chrom'].tolist()[0]
    start = vegfa_df[vegfa_df['REGION'] == bam]['start'].tolist()[0]
    end = vegfa_df[vegfa_df['REGION'] == bam]['end'].tolist()[0]
    strand = vegfa_df[vegfa_df['REGION'] == bam]['strandedness'].tolist()[0]
    
    del_dict_hg1[bam], ins_dict_hg1[bam], indel_dict_hg1[bam] = find_deletion_locs(bam_files_HG_1[bam], chrom, start, end, strand)

del_dict_hg2 = {}
ins_dict_hg2 = {}
indel_dict_hg2 = {}
for bam in bam_files_HG_2:
    #find the deletions
    chrom = vegfa_df[vegfa_df['REGION'] == bam]['chrom'].tolist()[0]
    start = vegfa_df[vegfa_df['REGION'] == bam]['start'].tolist()[0]
    end = vegfa_df[vegfa_df['REGION'] == bam]['end'].tolist()[0]
    strand = vegfa_df[vegfa_df['REGION'] == bam]['strandedness'].tolist()[0]
    del_dict_hg2[bam], ins_dict_hg2[bam], indel_dict_hg2[bam] = find_deletion_locs(bam_files_HG_2[bam], chrom, start, end, strand)

del_dict_hgwt = {}
ins_dict_hgwt = {}
indel_dict_hgwt = {}
for bam in bam_files_HG_WT:
    #find the deletions
    chrom = vegfa_df[vegfa_df['REGION'] == bam]['chrom'].tolist()[0]
    start = vegfa_df[vegfa_df['REGION'] == bam]['start'].tolist()[0]
    end = vegfa_df[vegfa_df['REGION'] == bam]['end'].tolist()[0]
    strand = vegfa_df[vegfa_df['REGION'] == bam]['strandedness'].tolist()[0]
    del_dict_hgwt[bam], ins_dict_hgwt[bam], indel_dict_hgwt[bam] = find_deletion_locs(bam_files_HG_WT[bam], chrom, start, end, strand)

#lots of the regions have small "indels"
#but few seem to have full on excisions that go passed the guide 
del_dict_hg1['REGION_15.bam']

[[['deletions extending passed region', 56, (43770767, 43770823)]],
 [['deletions', 1, (43770834, 43770835)]],
 [['deletions extending passed region', 49, (43770777, 43770826)]],
 [['deletions extending passed region', 49, (43770777, 43770826)]],
 [['deletions extending passed region', 10, (43770814, 43770824)]],
 [['deletions extending passed region', 43, (43770781, 43770824)]],
 [['deletions extending passed region', 43, (43770781, 43770824)]],
 [['deletions', 3, (43770823, 43770826)]],
 [['deletions extending passed region', 25, (43770801, 43770826)]],
 [['deletions extending passed region', 43, (43770781, 43770824)]],
 [['deletions extending passed region', 18, (43770806, 43770824)]],
 [['deletions extending passed region', 30, (43770794, 43770824)]],
 [['deletions', 1, (43770823, 43770824)]],
 [['deletions extending passed region', 35, (43770811, 43770846)]],
 [['deletions extending passed region', 30, (43770794, 43770824)]],
 [['deletions extending passed region', 30, (43770794, 43770824)]],
 [['deletions extending passed region', 30, (43770794, 43770824)]],
 [['deletions', 1, (43770823, 43770824)]],
 [['deletions', 1, (43770826, 43770827)]],
 [['deletions', 1, (43770826, 43770827)]]]

In [221]:
#construct the two tables 
hg2tbl = construct_df(vegfa_df,bam_files_HG_2, del_dict_hg2, ins_dict_hg2, indel_dict_hg2)
hg1tbl = construct_df(vegfa_df,bam_files_HG_1, del_dict_hg1, ins_dict_hg1, indel_dict_hg1)
hgwttbl = construct_df(vegfa_df,bam_files_HG_WT, del_dict_hgwt, ins_dict_hgwt, indel_dict_hgwt)

# # Save hg_2_tbl_dec5 to a CSV file
hg2tbl.to_csv("hg_2_tbl_dec5.csv", index=False)
# # Save hg_1_tbl_dec5 to a CSV file
hg1tbl.to_csv("hg_1_tbl_dec5.csv", index=False)
# # Save hg_WT_tbl_dec5 to a CSV file
hgwttbl.to_csv("hg_1_tbl_dec5.csv", index=False)

In [222]:
hgwttbl

,chrom,start,end,name,off_target,na,na2,REGION,strandedness,total_reads,forward_reads,reverse_reads,deletion lengths,deletion coords,number of reads with deletion(s),insertion lengths,insertion coords,number of reads with insertion(s),number of reads with indels,deletion extending past region lengths,deletion extending past region coords,number of reads with deletion extending past region,% reads with an deletion,% reads with an insertion,% reads with an indel
0,chr5,6714988,6715011,VEGFA_site2_chr5_6715118_1925,CTACCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_0.bam,+,37.0,19.0,18.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
1,chr2,241275174,241275197,VEGFA_site2_chr2_242214606_1549,ATTCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_1.bam,+,32.0,14.0,18.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
2,chr9,100837360,100837383,VEGFA_site2_chr9_103599649_1178,ACACCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_2.bam,-,43.0,14.0,29.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
3,chr16,56929510,56929533,VEGFA_site2_chr16_56963429_1107,TGCCCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_3.bam,-,64.0,25.0,39.0,[[]],[[]],1,"[1, 1]","[(56929523, 56929524), (56929523, 56929524)]",2,0,[],[],0,0.015625,0.031250,0.0
4,chr4,38535989,38536012,VEGFA_site2_chr4_38537627_1054,CTCCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_4.bam,unknown,13.0,0.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
5,chr11,72237743,72237766,VEGFA_site2_chr11_71948805_919,GCTTCCCTCCACCCCGCATCCGG,NaN,NaN,REGION_5.bam,+,36.0,15.0,21.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
6,chr17,4455450,4455473,VEGFA_site2_chr17_4358752_803,TACCCCCCACACCCCGCCTCTGG,NaN,NaN,REGION_6.bam,-,26.0,14.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
7,chr17,41888497,41888520,VEGFA_site2_chr17_40044757_791,TGCCCCTCCCACCCCGCCTCTGG,NaN,NaN,REGION_7.bam,-,24.0,11.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
8,chr9,27338859,27338882,VEGFA_site2_chr9_27338874_767,GACCCCTCCCACCCCGACTCCGG,NaN,NaN,REGION_8.bam,+,40.0,21.0,19.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
9,chr8,143740774,143740797,VEGFA_site2_chr8_144822961_728,GTACCCCACCACCCCGCCCCAGG,NaN,NaN,REGION_9.bam,+,22.0,13.0,9.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
10,chr10,114534490,114534513,VEGFA_site2_chr10_116294256_704,CCCCACCCCCACCCCGCCTCAGG,NaN,NaN,REGION_10.bam,-,19.0,9.0,10.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
11,chr22,50446356,50446379,VEGFA_site2_chr22_50884803_704,CCCCCCCCCCCCCCCGCCTCCGG,NaN,NaN,REGION_11.bam,+,33.0,20.0,13.0,"[[1], [1], [2], [2], [1], [1], [1], [1], [], [...","[[(50446356, 50446357)], [(50446356, 50446357)...",12,"[7, 7, 7, 7, 7, 7, 7]","[(50446377, 50446384), (50446377, 50446384), (...",7,0,[],[],0,0.363636,0.212121,0.0
12,chr11,76784738,76784761,VEGFA_site2_chr11_76495788_627,CACCCCCCCCCCCCCACCTCCGG,NaN,NaN,REGION_12.bam,-,17.0,12.0,5.0,"[[1], [1], [1], [1], [1], [1], [1], [1], [1], ...","[[(76784759, 76784760)], [(76784759, 76784760)...",10,[],[],0,0,[],[],0,0.588235,0.000000,0.0
13,chr1,151059392,151059415,VEGFA_site2_chr1_151031887_625,CCTCCCCCACACCCCGCATCCGG,NaN,NaN,REGION_13.bam,+,33.0,13.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
14,chr8,143934230,143934253,VEGFA_site2_chr8_145008405_603,CCCCCTCCCCGCCCCGCCCCCGG,NaN,NaN,REGION_14.bam,-,37.0,24.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
15,chr6,43770818,43770841,VEGFA_site2_chr6_43738562_540,GACCCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_15.bam,-,31.0,12.0,19.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
16,chr11,31795928,31795951,VEGFA_site2_chr11_31817483_483,GGGCCCCTCCACCCCGCCTCTGG,NaN,NaN,REGION_16.bam,-,36.0,19.0,17.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
17,chr10,133336426,133336449,VEGFA_site2_chr10_135149947_446,CGCCCTCCCCACCCCGCCTCCGG,NaN,NaN,REGION_17.bam,+,23.0,11.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
18,chr2,12604632,12604655,VEGFA_site2_chr2_12744775_414,GACACACCCCACCCCACCTCAGG,NaN,NaN,REGION_18.bam,+,35.0,14.0,21.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
19,chr15,32993899,32993922,VEGFA_site2_chr15_33286107_391,GACCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_19.bam,-,23.0,14.0,9.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
20,chr13,26052087,26052110,VEGFA_site2_chr13_26626241_365,TCCCCCCCACCCCCCACCTCAGG,NaN,NaN,REGION_20.bam,unknown,32.0,13.0,19.0,"[[1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2...","[[(26052088, 26052089), (26052100, 26052102)],...",23,[],[],0,0,[],[],0,0.718750,0.000000,0.0
21,chr11,63623611,63623634,VEGFA_site2_chr11_63391090_362,GACACCTTCCACCCCGTCTCTGG,NaN,NaN,REGION_21.bam,-,36.0,23.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
22,chr18,23779588,23779611,VEGFA_site2_chr18_21359559_357,GCCCCCACCCACCCCGCCTCTGG,NaN,NaN,REGION_22.bam,-,26.0,14.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
23,chr11,46120297,46120320,VEGFA_site2_chr11_46141855_336,CATCCCCCCCACCCCACCCCGGG,NaN,NaN,REGION_23.bam,-,27.0,17.0,10.0,[[]],[[]],1,"[2, 2]","[(46120317, 46120319), (46120317, 46120319)]",2,0,[],[],0,0.037037,0.074074,0.0
24,chrX,150764038,150764061,VEGFA_site2_chrX_149932528_330,CTGCCCCCCCACCCCGCCACTGG,NaN,NaN,REGION_24.bam,+,33.0,13.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
25,chr13,99894728,99894751,VEGFA_site2_chr13_100546988_303,CCCCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_25.bam,-,25.0,21.0,4.0,"[[], [1], [1], [], [1], [], [1], [1], [1], [1]...","[[], [(99894736, 99894737)], [(99894736, 99894...",14,"[3, 3, 4, 4, 1, 1, 3, 3]","[(99894740, 99894743), (99894740, 99894743), (...",8,0,[],[],0,0.560000,0.320000,0.0
26,chr19,13011357,13011380,VEGFA_site2_chr19_13122188_291,GCCCCCCACCACCCCACCTCGGG,NaN,NaN,REGION_26.bam,+,42.0,17.0,25.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
27,chr16,82700959,82700982,VEGFA_site2_chr16_82734581_278,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_27.bam,+,43.0,19.0,24.0,[[5]],"[[(82700955, 82700960)]]",1,[],[],0,0,[5],"[(82700955, 82700960)]",1,0.023256,0.000000,0.0
28,chrX,129906647,129906670,VEGFA_site2_chrX_129040641_263,TGCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_28.bam,+,35.0,16.0,19.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
29,chr3,31417159,31417182,VEGFA_site2_chr3_31458658_256,CTTCCCCCACACCCCGCCCCAGG,NaN,NaN,REGION_29.bam,-,38.0,16.0,22.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
30,chr11,374660,374683,VEGFA_site2_chr11_374666_252,AGGCCCCCCCGCCCCGCCTCAGG,NaN,NaN,REGION_30.bam,-,3.0,3.0,0.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
31,chr11,13926806,13926829,VEGFA_site2_chr11_13948370_246,TACCCCCCCCACCCCGCCACAGG,NaN,NaN,REGION_31.bam,+,24.0,15.0,9.0,[[1]],"[[(13926808, 13926809)]]",1,[],[],0,0,[],[],0,0.041667,0.000000,0.0
32,chr4,8840184,8840207,VEGFA_site2_chr4_8841917_235,CATACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_32.bam,-,33.0,13.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
33,chr9,136546388,136546411,VEGFA_site2_chr9_139440844_202,CGCCCTCCCCACTCCGCCTCGGG,NaN,NaN,REGION_33.bam,unknown,31.0,18.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
34,chr19,14032156,14032179,VEGFA_site2_chr19_14142975_192,GAGCTCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_34.bam,-,44.0,23.0,21.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
35,chr7,95690358,95690381,VEGFA_site2_chr7_95319677_179,GACCCCTCACACCCCGCCCCTGG,NaN,NaN,REGION_35.bam,-,26.0,12.0,14.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
36,chr8,18184030,18184053,VEGFA_site2_chr8_18041545_160,CCCCCCCACCACCCCGCCCCGGG,NaN,NaN,REGION_36.bam,-,53.0,25.0,28.0,[[1]],"[[(18184046, 18184047)]]",1,[],[],0,0,[],[],0,0.018868,0.000000,0.0
37,chr17,17051531,17051554,VEGFA_site2_chr17_16954852_141,CTCCCCCGCCACCCCGCCCCAGG,NaN,NaN,REGION_37.bam,-,42.0,25.0,17.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
38,chr20,10933306,10933329,VEGFA_site2_chr20_10913961_138,CCACCCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_38.bam,-,20.0,11.0,9.0,[[1]],"[[(10933313, 10933314)]]",1,[],[],0,0,[],[],0,0.050000,0.000000,0.0
39,chr1,939940,939963,VEGFA_site2_chr1_875337_135,GACCCTGTCCACCCCACCTCAGG,NaN,NaN,REGION_39.bam,+,34.0,18.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
40,chr7,105293491,105293514,VEGFA_site2_chr7_104933955_135,TCCACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_40.bam,+,42.0,21.0,21.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
41,chr9,123375895,123375918,VEGFA_site2_chr9_126138181_128,CACTCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_41.bam,-,33.0,12.0,21.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
42,chr10,132143134,132143157,VEGFA_site2_chr10_133956644_126,AGCCCCCCCCACCCCGACTCAGG,NaN,NaN,REGION_42.bam,-,36.0,19.0,17.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
43,chr12,25872155,25872178,VEGFA_site2_chr12_26025095_123,CATTCCCCCCACCCCACCTCAGG,NaN,NaN,REGION_43.bam,-,29.0,15.0,14.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
44,chr5,14457377,14457400,VEGFA_site2_chr5_14457504_122,CCCCCCCCCCGCCCCGCCCCCCG,NaN,NaN,REGION_44.bam,+,20.0,2.0,18.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
45,chr11,12287370,12287393,VEGFA_site2_chr11_12308933_121,ATCCCCCTCCACCCCACCCCTGG,NaN,NaN,REGION_45.bam,+,24.0,9.0,15.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
46,chr3,140679941,140679964,VEGFA_site2_chr3_140398800_111,CAACCCCCCCACCCCGCTTCAGG,NaN,NaN,REGION_46.bam,+,31.0,4.0,27.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
47,chr2,128486621,128486644,VEGFA_site2_chr2_129244202_108,CCCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_47.bam,-,28.0,18.0,10.0,[[1]],"[[(128486634, 128486635)]]",1,[],[],0,0,[],[],0,0.035714,0.000000,0.0
48,chr2,169716823,169716846,VEGFA_site2_chr2_170573355_98,CCACCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_48.bam,+,19.0,3.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
49,chr2,11559821,11559844,VEGFA_site2_chr2_11699964_95,CTCCCTCCCCACCCCACCTCTGG,NaN,NaN,REGION_49.bam,+,49.0,33.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
50,chr4,1494513,1494536,VEGFA_site2_chr4_1496257_92,AGGCCCCCACACCCCGCCTCAGG,NaN,NaN,REGION_50.bam,+,32.0,15.0,17.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
51,chr2,24634707,24634730,VEGFA_site2_chr2_24857593_87,ACCCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_51.bam,+,15.0,2.0,13.0,"[[1], [1], [1], [2], [2], [1]]","[[(24634708, 24634709)], [(24634708, 24634709)...",6,[],[],0,0,[],[],0,0.400000,0.000000,0.0
52,chr4,7327802,7327825,VEGFA_site2_chr4_7329546_87,GCCCCCCCCAACCCCGCCCCCGG,NaN,NaN,REGION_52.bam,+,34.0,22.0,12.0,[[]],[[]],1,"[1, 1]","[(7327803, 7327804), (7327803, 7327804)]",2,0,[],[],0,0.029412,0.058824,0.0
53,chr10,70778444,70778467,VEGFA_site2_chr10_72538217_75,CAGTCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_53.bam,+,43.0,20.0,23.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
54,chr22,44739007,44739030,VEGFA_site2_chr22_45134894_75,CACCCACTACTCCCCGCCTCAGG,NaN,NaN,REGION_54.bam,-,32.0,13.0,19.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
55,chr19,45448779,45448802,VEGFA_site2_chr19_45952054_74,AAGACCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_55.bam,+,34.0,19.0,15.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
56,chr5,171451048,171451071,VEGFA_site2_chr5_170878070_71,CCGCCCCCCCACCCCGCCGCCGG,NaN,NaN,REGION_56.bam,+,17.0,7.0,10.0,[[]],[[]],1,[1],"[(171451048, 171451049)]",1,0,[],[],0,0.058824,0.058824,0.0
57,chr5,139648654,139648677,VEGFA_site2_chr5_139028256_65,CTCCCCCCCCTCCCCGCCTCGGG,NaN,NaN,REGION_57.bam,+,28.0,15.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
58,chr7,50697814,50697837,VEGFA_site2_chr7_50765529_65,AACCACCCCCACCCCACCCCAGG,NaN,NaN,REGION_58.bam,+,46.0,30.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
59,chr11,83722550,83722573,VEGFA_site2_chr11_83433600_65,GTCACTCCCCACCCCGCCTCTGG,NaN,NaN,REGION_59.bam,-,27.0,11.0,16.0,[[1]],"[[(83722563, 83722564)]]",1,[],[],0,0,[],[],0,0.037037,0.000000,0.0
60,chrX,119731513,119731536,VEGFA_site2_chrX_118865483_63,GTCCTCCACCACCCCGCCTCTGG,NaN,NaN,REGION_60.bam,-,32.0,15.0,17.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
61,chr5,156894113,156894136,VEGFA_site2_chr5_156321140_59,GACCCCACCTACCCCACCTCAGG,NaN,NaN,REGION_61.bam,+,41.0,12.0,29.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
62,chr22,47115342,47115365,VEGFA_site2_chr22_47511254_52,GCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_62.bam,+,30.0,12.0,18.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
63,chr2,105374363,105374386,VEGFA_site2_chr2_105990827_45,GGGCCCTCCCACCTCGCCCCTGG,NaN,NaN,REGION_63.bam,-,30.0,18.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
64,chr11,2665012,2665035,VEGFA_site2_chr11_2686249_40,CTCACCCCCCACCCCACCTCTGG,NaN,NaN,REGION_64.bam,-,32.0,17.0,15.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
65,chr16,85304593,85304616,VEGFA_site2_chr16_85338205_37,ATGCCCCACCCCCCCGCCCCCGG,NaN,NaN,REGION_65.bam,-,25.0,18.0,7.0,"[[], [], [], [], [], []]","[[], [], [], [], [], []]",6,"[1, 1, 2, 2, 1, 1, 4, 4, 4, 4, 1, 1]","[(85304601, 85304602), (85304601, 85304602), (...",12,0,[],[],0,0.240000,0.480000,0.0
66,chrX,153571653,153571676,VEGFA_site2_chrX_152837128_37,GTCCCCCTCCTCCCCACCTCCGG,NaN,NaN,REGION_66.bam,+,22.0,9.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
67,chr22,39706378,39706401,VEGFA_site2_chr22_40102400_36,GTCCCTCCCCACCCCGCCTTGGG,NaN,NaN,REGION_67.bam,+,44.0,23.0,21.0,[[1]],"[[(39706384, 39706385)]]",1,[],[],0,0,[],[],0,0.022727,0.000000,0.0
68,chr17,67636857,67636880,VEGFA_site2_chr17_65632990_35,AACACCCTCCACCCCACCACAGG,NaN,NaN,REGION_68.bam,+,41.0,19.0,22.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
69,chr4,142846213,142846236,VEGFA_site2_chr4_143767373_34,GCCGCCCCCCACTCCGCCTCCGG,NaN,NaN,REGION_69.bam,-,12.0,6.0,6.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
70,chr10,101061743,101061766,VEGFA_site2_chr10_102821517_32,CTACCCCCACTCCCCGCCTCCGG,NaN,NaN,REGION_70.bam,+,34.0,19.0,15.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
71,chr19,42302642,42302665,VEGFA_site2_chr19_42806801_32,TTCTCCCTCCTCCCCGCCTCGGG,NaN,NaN,REGION_71.bam,-,43.0,18.0,25.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
72,chr9,137368986,137369009,VEGFA_site2_chr9_140263445_31,AAGCCCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_72.bam,-,6.0,5.0,1.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
73,chr17,57663161,57663184,VEGFA_site2_chr17_55740529_31,CCGCCCCTCCACCCCGCCACTGG,NaN,NaN,REGION_73.bam,-,25.0,13.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
74,chr16,57940327,57940350,VEGFA_site2_chr16_57974238_30,TATCCTCCCCACCCCGCCCCGGG,NaN,NaN,REGION_74.bam,-,41.0,29.0,12.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
75,chr5,133524667,133524690,VEGFA_site2_chr5_132860375_29,TGCACCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_75.bam,+,51.0,25.0,26.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
76,chr11,45774498,45774521,VEGFA_site2_chr11_45796055_29,ATCCCTCTCCACCCCACCCCAGG,NaN,NaN,REGION_76.bam,-,48.0,25.0,23.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
77,chr17,64089687,64089710,VEGFA_site2_chr17_62167053_29,ACTCCCCTCCACCCCGGCTCGGG,NaN,NaN,REGION_77.bam,-,31.0,21.0,10.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
78,chr11,67584045,67584068,VEGFA_site2_chr11_67351523_27,TGCCCCCTCT-CCCCGCCCCCGG,NaN,NaN,REGION_78.bam,unknown,32.0,20.0,12.0,"[[], [], [], [], [], [], [], [], [], []]","[[], [], [], [], [], [], [], [], [], []]",10,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[(67584058, 67584059), (67584058, 67584059), (...",20,0,[],[],0,0.312500,0.625000,0.0
79,chr1,237032374,237032397,VEGFA_site2_chr1_237195681_25,AACCCCACCCACCCCATCTCAGG,NaN,NaN,REGION_79.bam,-,34.0,25.0,9.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
80,chr9,128944296,128944319,VEGFA_site2_chr9_131706582_25,AGCCAACCCCACCCCGCCTCTGG,NaN,NaN,REGION_80.bam,-,54.0,29.0,25.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
81,chr22,43288472,43288495,VEGFA_site2_chr22_43684495_25,AGCCCCCACCTCCCCGCCTCGGG,NaN,NaN,REGION_81.bam,+,39.0,17.0,22.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
82,chr15,78565376,78565399,VEGFA_site2_chr15_78857725_24,TCCCCACCCCGCCCCGCCTCTGG,NaN,NaN,REGION_82.bam,-,27.0,16.0,11.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
83,chr19,36268225,36268248,VEGFA_site2_chr19_36759134_24,TCCCACCCCCACCCCGCCACGGG,NaN,NaN,REGION_83.bam,-,40.0,20.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
84,chr2,220671105,220671128,VEGFA_site2_chr2_221535832_23,ACACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_84.bam,-,22.0,14.0,8.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
85,chr3,49812737,49812760,VEGFA_site2_chr3_49850177_23,GACCCCTACCACCCCATCTCAGG,NaN,NaN,REGION_85.bam,-,26.0,10.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
86,chr2,100820988,100821011,VEGFA_site2_chr2_101437467_22,CCGCCCCCCCACCCCAACTCCGG,NaN,NaN,REGION_86.bam,+,39.0,20.0,19.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
87,chr14,89936960,89936983,VEGFA_site2_chr14_90403321_21,GTCCCCTCCCACCCCGCCTCCAG,NaN,NaN,REGION_87.bam,+,34.0,21.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
88,chr17,48026474,48026497,VEGFA_site2_chr17_46103848_21,AACCTCCCCCACCCCACCCCAGG,NaN,NaN,REGION_88.bam,-,35.0,22.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
89,chr1,1358875,1358898,VEGFA_site2_chr1_1294273_19,TGGCCCCTCCGCCCCACCTCTGG,NaN,NaN,REGION_89.bam,+,43.0,18.0,25.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
90,chr11,61553960,61553983,VEGFA_site2_chr11_61321439_19,CACCCCCTCCCCTCCGCCTCAGG,NaN,NaN,REGION_90.bam,-,34.0,23.0,11.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
91,chr9,37465350,37465373,VEGFA_site2_chr9_37465365_18,CCCCCCTCCCACCCCGCCTCTAG,NaN,NaN,REGION_91.bam,+,16.0,7.0,9.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
92,chr18,57434111,57434134,VEGFA_site2_chr18_55101360_18,CTACCCCTCCACCCCGACTCGGA,NaN,NaN,REGION_92.bam,+,41.0,21.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
93,chr20,37362723,37362746,VEGFA_site2_chr20_35991133_18,AGACCCCCCCACCCCACCCCAGG,NaN,NaN,REGION_93.bam,-,37.0,17.0,20.0,[[]],[[]],1,"[2, 2]","[(37362743, 37362745), (37362743, 37362745)]",2,0,[],[],0,0.027027,0.054054,0.0
94,chr2,149534882,149534905,VEGFA_site2_chr2_150391412_17,ACGCCCCCCCACCCCACGTCTGG,NaN,NaN,REGION_94.bam,+,30.0,17.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
95,chr7,44213950,44213973,VEGFA_site2_chr7_44253556_17,GGCCCACTCCACTCCGTCTCCGG,NaN,NaN,REGION_95.bam,-,49.0,21.0,28.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
96,chr8,39981549,39981572,VEGFA_site2_chr8_39839086_17,CACACCCACCACCCCGCCTCAGA,NaN,NaN,REGION_96.bam,+,41.0,12.0,29.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
97,chr11,32162932,32162955,VEGFA_site2_chr11_32184484_16,CACCCCCCGCACCCCGCCCCAGG,NaN,NaN,REGION_97.bam,-,20.0,16.0,4.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
98,chr17,60327490,60327513,VEGFA_site2_chr17_58404869_16,CGCCCACCCCACCCCACCTCAGG,NaN,NaN,REGION_98.bam,+,18.0,2.0,16.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
99,chr3,38099767,38099790,VEGFA_site2_chr3_38141265_15,CCCCACCCCCACCCCGCCCCCGG,NaN,NaN,REGION_99.bam,-,23.0,17.0,6.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
100,chr6,41575694,41575717,VEGFA_site2_chr6_41543448_15,GCCACCCCCCACCCCACCCCAGG,NaN,NaN,REGION_100.bam,+,30.0,17.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
101,chr6,43369581,43369604,VEGFA_site2_chr6_43337337_15,GACACACCCCCCCCCGCCTCCGG,NaN,NaN,REGION_101.bam,+,14.0,12.0,2.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
102,chr7,101507500,101507523,VEGFA_site2_chr7_101150798_15,AACCTCCACCTCCCCGCCTCAGG,NaN,NaN,REGION_102.bam,+,39.0,19.0,20.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
103,chr8,121355706,121355729,VEGFA_site2_chr8_122367963_15,CCACCATCCCACCCCGCCTCTGG,NaN,NaN,REGION_103.bam,+,45.0,19.0,26.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
104,chr11,133907545,133907568,VEGFA_site2_chr11_133777457_14,TCTCCCCTCCACCCCGCCCTCGG,NaN,NaN,REGION_104.bam,+,22.0,12.0,10.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
105,chr12,3091793,3091816,VEGFA_site2_chr12_3200977_14,CACCTCCACAACTCCGCCTCTGG,NaN,NaN,REGION_105.bam,+,41.0,28.0,13.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
106,chr16,67255527,67255550,VEGFA_site2_chr16_67289447_14,AGGCCCTCCCACCCCGCATCAGG,NaN,NaN,REGION_106.bam,+,30.0,19.0,11.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0

In [223]:
# display(hg1tbl[hg1tbl['REGION'] == 'REGION_15.bam'])

#lets see which one has the maximum deletion rate
print(hg1tbl['% reads with an deletion'])

max_row_del = hg1tbl.loc[hg1tbl['% reads with an deletion'].idxmax()]
max_row_ins = hg1tbl.loc[hg1tbl['% reads with an insertion'].idxmax()]

#ratio of deletion rate across edited and non-edited sample complete with an FDR calculation

0      0.043605
1      0.012012
2      0.015267
3      0.020690
4      0.000000
5      0.002762
6      0.007143
7      0.000000
8      0.000000
9      0.000000
10     0.007463
11     0.436261
12     0.488462
13     0.002967
14     0.002801
15     0.058309
16     0.033854
17     0.018727
18     0.000000
19     0.077206
20     0.795518
21     0.000000
22     0.012920
23     0.071685
24     0.000000
25     0.421296
26     0.000000
27     0.008772
28     0.043919
29     0.008547
30     0.015152
31     0.014235
32     0.002849
33     0.000000
34     0.002681
35     0.000000
36     0.007092
37     0.000000
38     0.037415
39     0.000000
40     0.013774
41     0.000000
42     0.016000
43     0.000000
44     0.000000
45     0.000000
46     0.004785
47     0.044025
48     0.000000
49     0.000000
50     0.000000
51     0.340909
52     0.013115
53     0.011142
54     0.000000
55     0.002703
56     0.014085
57     0.037500
58     0.002950
59     0.003289
60     0.000000
61     0.000000
62     0.008310
63     0.006098
64     0.003021
65     0.320423
66     0.000000
67     0.007246
68     0.000000
69     0.003205
70     0.000000
71     0.002725
72     0.028369
73     0.000000
74     0.002571
75     0.003067
76     0.000000
77     0.000000
78     0.324786
79     0.003067
80     0.002410
81     0.002695
82     0.003021
83     0.002646
84     0.015075
85     0.000000
86     0.000000
87     0.000000
88     0.000000
89     0.000000
90     0.000000
91     0.006579
92     0.000000
93     0.020349
94     0.011976
95     0.000000
96     0.005970
97     0.008000
98     0.000000
99     0.015564
100    0.007792
101    0.089783
102    0.000000
103    0.000000
104    0.004556
105    0.000000
106    0.005450
107    0.000000
108    0.009036
109    0.005848
110    0.183784
111    0.002315
112    0.002681
113    0.013115
114    0.000000
115    0.002841
116    0.012097
117    0.000000
118    0.000000
119    0.003571
120    0.015686
121    0.000000
122    0.016667
123    0.571429
124    0.308901
125         NaN
126    0.005168
127    0.000000
128    0.000000
129    0.000000
130    0.003367
131    0.000000
132    0.000000
133    0.000000
134    0.000000
135    0.000000
136    0.015432
137    0.006250
138    0.000000
139    0.008696
140    0.000000
141    0.013158
142    0.000000
143    0.002584
144    0.000000
145    0.002674
146    0.005405
147    0.007143
148    0.000000
149    0.000000
150    0.000000
151    0.002841
Name: % reads with an deletion, dtype: float64

In [224]:
#save all the csv files - and verify results

In [225]:
#right now only keeps track of deletions - can make it keep track of insertions too

#iterate through each region
for region in del_dict_hg1:
    #iterate through each read
    print(region)
    for read in del_dict_hg1[region]:
        #iterate through each deletion type in the read
        for dels in read:      
            if not dels[0] == 'contained deletion':
                print('del', dels)
    print('\n')

REGION_0.bam
del ['deletions', 6, (6714996, 6715002)]
del ['deletions', 5, (6714999, 6715004)]
del ['deletions', 18, (6714992, 6715010)]
del ['deletions', 18, (6714992, 6715010)]
del ['deletions', 17, (6714988, 6715005)]
del ['deletions', 17, (6714988, 6715005)]
del ['deletions', 17, (6714988, 6715005)]
del ['deletions', 17, (6714988, 6715005)]
del ['deletions', 8, (6715003, 6715011)]
del ['deletions', 4, (6715004, 6715008)]


REGION_1.bam
del ['deletions', 1, (241275190, 241275191)]
del ['deletions', 1, (241275190, 241275191)]
del ['deletions extending passed region', 27, (241275183, 241275210)]


REGION_10.bam


REGION_100.bam


REGION_101.bam
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 2, (43369587, 43369589)]


REGION_102.bam


REGION_103.bam


REGION_104.bam
del ['deletions', 1, (133907566, 133907567)]
del ['deletions', 1, (133907566, 133907567)]


REGION_105.bam


REGION_106.bam
del ['deletions', 1, (67255538, 67255539)]
del ['deletions', 1, (67255538, 67255539)]


REGION_107.bam


REGION_108.bam
del ['deletions', 1, (51752231, 51752232)]
del ['deletions', 1, (51752231, 51752232)]


REGION_109.bam
del ['deletions', 1, (43381393, 43381394)]
del ['deletions', 1, (43381393, 43381394)]


REGION_11.bam
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 4, (50446356, 50446360)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 9, (50446369, 50446378)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 4, (50446356, 50446360)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 5, (50446356, 50446361)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 4, (50446356, 50446360)]
del ['deletions', 4, (50446356, 50446360)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 5, (50446356, 50446361)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions extending passed region', 2, (50446355, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]


REGION_110.bam
del ['deletions', 2, (81923262, 81923264)]
del ['deletions', 1, (81923262, 81923263)]
del ['deletions', 1, (81923262, 81923263)]
del ['deletions', 1, (81923262, 81923263)]
del ['deletions', 4, (81923260, 81923264)]


REGION_111.bam
del ['deletions', 1, (36886055, 36886056)]


REGION_112.bam
del ['deletions', 1, (2666736, 2666737)]


REGION_113.bam
del ['deletions', 1, (97970307, 97970308)]
del ['deletions', 1, (97970297, 97970298)]
del ['deletions', 1, (97970297, 97970298)]


REGION_114.bam


REGION_115.bam
del ['deletions', 1, (131106810, 131106811)]


REGION_116.bam
del ['deletions', 1, (127900801, 127900802)]


REGION_117.bam


REGION_118.bam


REGION_119.bam


REGION_12.bam
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784745, 76784746)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 4, (76784743, 76784747)]
del ['deletions', 4, (76784756, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]


REGION_120.bam
del ['deletions', 5, (1028252, 1028257)]
del ['deletions', 5, (1028252, 1028257)]
del ['deletions', 5, (1028252, 1028257)]
del ['deletions', 5, (1028252, 1028257)]


REGION_121.bam


REGION_122.bam
del ['deletions', 1, (63944477, 63944478)]
del ['deletions', 1, (63944477, 63944478)]
del ['deletions', 1, (63944477, 63944478)]
del ['deletions', 1, (63944464, 63944465)]


REGION_123.bam
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283307, 45283308)]
del ['deletions', 1, (45283307, 45283308)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283321, 45283322)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]


REGION_124.bam
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 1, (13145803, 13145804)]


REGION_125.bam


REGION_126.bam
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 3, (222866775, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 3, (222866775, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]


REGION_127.bam


REGION_128.bam


REGION_129.bam


REGION_13.bam


REGION_130.bam


REGION_131.bam


REGION_132.bam


REGION_133.bam


REGION_134.bam


REGION_135.bam


REGION_136.bam
del ['deletions', 1, (26470380, 26470381)]


REGION_137.bam
del ['deletions', 1, (110199816, 110199817)]
del ['deletions', 1, (110199816, 110199817)]


REGION_138.bam


REGION_139.bam
del ['deletions', 1, (7244147, 7244148)]
del ['deletions', 1, (7244147, 7244148)]


REGION_14.bam
del ['deletions', 1, (143934238, 143934239)]


REGION_140.bam


REGION_141.bam


REGION_142.bam


REGION_143.bam
del ['deletions', 1, (123230117, 123230118)]


REGION_144.bam


REGION_145.bam
del ['deletions', 1, (98169011, 98169012)]


REGION_146.bam
del ['deletions', 1, (123409110, 123409111)]


REGION_147.bam
del ['deletions', 1, (1494318, 1494319)]
del ['deletions', 1, (1494330, 1494331)]
del ['deletions', 1, (1494330, 1494331)]


REGION_148.bam


REGION_149.bam


REGION_15.bam
del ['deletions extending passed region', 56, (43770767, 43770823)]
del ['deletions', 1, (43770834, 43770835)]
del ['deletions extending passed region', 49, (43770777, 43770826)]
del ['deletions extending passed region', 49, (43770777, 43770826)]
del ['deletions extending passed region', 10, (43770814, 43770824)]
del ['deletions extending passed region', 43, (43770781, 43770824)]
del ['deletions extending passed region', 43, (43770781, 43770824)]
del ['deletions', 3, (43770823, 43770826)]

In [226]:
#iterate through each region
for region in del_dict_hg2:
    #iterate through each read
    print(region)
    for read in del_dict_hg2[region]:
        #iterate through each deletion type in the read
        for dels in read:      
            if not dels[0] == 'contained deletion':
                print('del', dels)
    print('\n')

REGION_0.bam
del ['deletions', 6, (6714999, 6715005)]
del ['deletions', 6, (6715001, 6715007)]
del ['deletions', 8, (6715003, 6715011)]
del ['deletions', 8, (6715003, 6715011)]
del ['deletions', 6, (6715001, 6715007)]
del ['deletions', 6, (6715001, 6715007)]
del ['deletions', 8, (6715003, 6715011)]
del ['deletions', 8, (6715003, 6715011)]
del ['deletions', 8, (6715003, 6715011)]


REGION_1.bam
del ['deletions', 12, (241275181, 241275193)]


REGION_10.bam
del ['deletions', 1, (114534508, 114534509)]


REGION_100.bam
del ['deletions', 1, (41575710, 41575711)]


REGION_101.bam
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369586, 43369587)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369586, 43369587)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369586, 43369587)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 2, (43369587, 43369589)]
del ['deletions', 1, (43369587, 43369588)]
del ['deletions', 1, (43369587, 43369588)]


REGION_102.bam


REGION_103.bam


REGION_104.bam


REGION_105.bam


REGION_106.bam
del ['deletions', 1, (67255530, 67255531)]


REGION_107.bam


REGION_108.bam
del ['deletions', 1, (51752231, 51752232)]
del ['deletions', 1, (51752247, 51752248)]


REGION_109.bam


REGION_11.bam
del ['deletions', 2, (50446373, 50446375)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions extending passed region', 2, (50446355, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 4, (50446368, 50446372)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions extending passed region', 2, (50446355, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 10, (50446365, 50446375)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions extending passed region', 3, (50446355, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 3, (50446356, 50446359)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446370, 50446372)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions extending passed region', 2, (50446355, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions extending passed region', 2, (50446355, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 4, (50446368, 50446372)]
del ['deletions', 7, (50446371, 50446378)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 4, (50446356, 50446360)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]
del ['deletions', 2, (50446356, 50446358)]
del ['deletions', 1, (50446356, 50446357)]


REGION_110.bam
del ['deletions', 1, (81923262, 81923263)]
del ['deletions', 1, (81923261, 81923262)]
del ['deletions', 2, (81923262, 81923264)]
del ['deletions', 2, (81923260, 81923262)]
del ['deletions', 1, (81923261, 81923262)]
del ['deletions', 1, (81923262, 81923263)]
del ['deletions', 2, (81923274, 81923276)]
del ['deletions', 1, (81923262, 81923263)]


REGION_111.bam


REGION_112.bam
del ['deletions', 1, (2666737, 2666738)]
del ['deletions', 1, (2666737, 2666738)]


REGION_113.bam
del ['deletions', 1, (97970302, 97970303)]


REGION_114.bam


REGION_115.bam
del ['deletions', 1, (131106801, 131106802)]


REGION_116.bam


REGION_117.bam


REGION_118.bam
del ['deletions', 1, (1438984, 1438985)]


REGION_119.bam
del ['deletions', 1, (37393675, 37393676)]
del ['deletions', 1, (37393660, 37393661)]


REGION_12.bam
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 4, (76784756, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 4, (76784756, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 2, (76784741, 76784743)]
del ['deletions', 3, (76784757, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 2, (76784758, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]
del ['deletions', 1, (76784759, 76784760)]


REGION_120.bam
del ['deletions', 1, (1028252, 1028253)]
del ['deletions', 5, (1028251, 1028256)]


REGION_121.bam
del ['deletions', 1, (18522683, 18522684)]


REGION_122.bam
del ['deletions', 1, (63944460, 63944461)]
del ['deletions', 1, (63944460, 63944461)]


REGION_123.bam
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283320, 45283321)]
del ['deletions', 3, (45283308, 45283311)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 2, (45283308, 45283310)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 2, (45283308, 45283310)]
del ['deletions', 2, (45283308, 45283310)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 2, (45283308, 45283310)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283307, 45283308)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]
del ['deletions', 1, (45283308, 45283309)]


REGION_124.bam
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 1, (13145804, 13145805)]
del ['deletions', 4, (13145813, 13145817)]


REGION_125.bam


REGION_126.bam
del ['deletions extending passed region', 11, (222866753, 222866764)]
del ['deletions extending passed region', 11, (222866753, 222866764)]
del ['deletions extending passed region', 10, (222866753, 222866763)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 3, (222866775, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 2, (222866776, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]
del ['deletions', 1, (222866777, 222866778)]

In [227]:
hg1tbl

,chrom,start,end,name,off_target,na,na2,REGION,strandedness,total_reads,forward_reads,reverse_reads,deletion lengths,deletion coords,number of reads with deletion(s),insertion lengths,insertion coords,number of reads with insertion(s),number of reads with indels,deletion extending past region lengths,deletion extending past region coords,number of reads with deletion extending past region,% reads with an deletion,% reads with an insertion,% reads with an indel
0,chr5,6714988,6715011,VEGFA_site2_chr5_6715118_1925,CTACCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_0.bam,+,344.0,159.0,185.0,"[[6], [5], [18], [18], [], [], [], [], [], [17...","[[(6714996, 6715002)], [(6714999, 6715004)], [...",15,"[6, 6, 17, 12, 12, 2, 2, 10, 4, 4, 10]","[(6715004, 6715010), (6715004, 6715010), (6715...",11,0,[],[],0,0.043605,0.031977,0.0
1,chr2,241275174,241275197,VEGFA_site2_chr2_242214606_1549,ATTCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_1.bam,+,333.0,193.0,140.0,"[[1], [1], [], [27]]","[[(241275190, 241275191)], [(241275190, 241275...",4,"[1, 1]","[(241275177, 241275178), (241275177, 241275178)]",2,0,[27],"[(241275183, 241275210)]",1,0.012012,0.006006,0.0
2,chr9,100837360,100837383,VEGFA_site2_chr9_103599649_1178,ACACCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_2.bam,-,393.0,182.0,211.0,"[[3], [3], [3], [3], [12], [12]]","[[(100837365, 100837368)], [(100837363, 100837...",6,[],[],0,0,[],[],0,0.015267,0.000000,0.0
3,chr16,56929510,56929533,VEGFA_site2_chr16_56963429_1107,TGCCCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_3.bam,-,290.0,132.0,158.0,"[[1], [1], [1], [3], [], []]","[[(56929523, 56929524)], [(56929523, 56929524)...",6,"[1, 1, 1, 1]","[(56929523, 56929524), (56929523, 56929524), (...",4,0,[],[],0,0.020690,0.013793,0.0
4,chr4,38535989,38536012,VEGFA_site2_chr4_38537627_1054,CTCCCCCCCCACCCCGCCTCAGG,NaN,NaN,REGION_4.bam,unknown,180.0,22.0,158.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
5,chr11,72237743,72237766,VEGFA_site2_chr11_71948805_919,GCTTCCCTCCACCCCGCATCCGG,NaN,NaN,REGION_5.bam,+,362.0,182.0,180.0,[[11]],"[[(72237754, 72237765)]]",1,[],[],0,0,[],[],0,0.002762,0.000000,0.0
6,chr17,4455450,4455473,VEGFA_site2_chr17_4358752_803,TACCCCCCACACCCCGCCTCTGG,NaN,NaN,REGION_6.bam,-,420.0,171.0,249.0,"[[8], [1], [5]]","[[(4455448, 4455456)], [(4455465, 4455466)], [...",3,[],[],0,0,[8],"[(4455448, 4455456)]",1,0.007143,0.000000,0.0
7,chr17,41888497,41888520,VEGFA_site2_chr17_40044757_791,TGCCCCTCCCACCCCGCCTCTGG,NaN,NaN,REGION_7.bam,-,496.0,252.0,244.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
8,chr9,27338859,27338882,VEGFA_site2_chr9_27338874_767,GACCCCTCCCACCCCGACTCCGG,NaN,NaN,REGION_8.bam,+,406.0,179.0,227.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
9,chr8,143740774,143740797,VEGFA_site2_chr8_144822961_728,GTACCCCACCACCCCGCCCCAGG,NaN,NaN,REGION_9.bam,+,198.0,111.0,87.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
10,chr10,114534490,114534513,VEGFA_site2_chr10_116294256_704,CCCCACCCCCACCCCGCCTCAGG,NaN,NaN,REGION_10.bam,-,268.0,155.0,113.0,"[[], []]","[[], []]",2,"[1, 1, 1, 1]","[(114534496, 114534497), (114534496, 114534497...",4,0,[],[],0,0.007463,0.014925,0.0
11,chr22,50446356,50446379,VEGFA_site2_chr22_50884803_704,CCCCCCCCCCCCCCCGCCTCCGG,NaN,NaN,REGION_11.bam,+,353.0,163.0,190.0,"[[3], [1], [1], [1], [2], [2], [1], [1], [1], ...","[[(50446356, 50446359)], [(50446356, 50446357)...",154,"[7, 1, 7, 6, 2, 7, 7, 7, 7, 1, 7, 7, 7, 2, 7, ...","[(50446377, 50446384), (50446356, 50446357), (...",104,0,[2],"[(50446355, 50446357)]",1,0.436261,0.294618,0.0
12,chr11,76784738,76784761,VEGFA_site2_chr11_76495788_627,CACCCCCCCCCCCCCACCTCCGG,NaN,NaN,REGION_12.bam,-,260.0,180.0,80.0,"[[1], [1], [1], [1], [1], [3], [3], [1], [1], ...","[[(76784759, 76784760)], [(76784759, 76784760)...",127,"[1, 1, 3, 3]","[(76784743, 76784744), (76784743, 76784744), (...",4,0,[],[],0,0.488462,0.015385,0.0
13,chr1,151059392,151059415,VEGFA_site2_chr1_151031887_625,CCTCCCCCACACCCCGCATCCGG,NaN,NaN,REGION_13.bam,+,337.0,201.0,136.0,[[]],[[]],1,"[4, 4]","[(151059406, 151059410), (151059406, 151059410)]",2,0,[],[],0,0.002967,0.005935,0.0
14,chr8,143934230,143934253,VEGFA_site2_chr8_145008405_603,CCCCCTCCCCGCCCCGCCCCCGG,NaN,NaN,REGION_14.bam,-,357.0,178.0,179.0,[[1]],"[[(143934238, 143934239)]]",1,[],[],0,0,[],[],0,0.002801,0.000000,0.0
15,chr6,43770818,43770841,VEGFA_site2_chr6_43738562_540,GACCCCCTCCACCCCGCCTCCGG,NaN,NaN,REGION_15.bam,-,343.0,127.0,216.0,"[[56], [1], [49], [49], [10], [43], [43], [3],...","[[(43770767, 43770823)], [(43770834, 43770835)...",20,[],[],0,0,"[56, 49, 49, 10, 43, 43, 25, 43, 18, 30, 35, 3...","[(43770767, 43770823), (43770777, 43770826), (...",14,0.058309,0.000000,0.0
16,chr11,31795928,31795951,VEGFA_site2_chr11_31817483_483,GGGCCCCTCCACCCCGCCTCTGG,NaN,NaN,REGION_16.bam,-,384.0,172.0,212.0,"[[9], [9], [9], [20], [7], [7], [7], [7], [1],...","[[(31795933, 31795942)], [(31795933, 31795942)...",13,[],[],0,0,"[20, 7, 7, 7, 7, 40]","[(31795926, 31795946), (31795926, 31795933), (...",6,0.033854,0.000000,0.0
17,chr10,133336426,133336449,VEGFA_site2_chr10_135149947_446,CGCCCTCCCCACCCCGCCTCCGG,NaN,NaN,REGION_17.bam,+,267.0,111.0,156.0,"[[6], [7], [7], [7], [7]]","[[(133336439, 133336445)], [(133336441, 133336...",5,[],[],0,0,[],[],0,0.018727,0.000000,0.0
18,chr2,12604632,12604655,VEGFA_site2_chr2_12744775_414,GACACACCCCACCCCACCTCAGG,NaN,NaN,REGION_18.bam,+,288.0,140.0,148.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
19,chr15,32993899,32993922,VEGFA_site2_chr15_33286107_391,GACCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_19.bam,-,272.0,165.0,107.0,"[[1], [1], [], [1], [], [], [], [], [], [], []...","[[(32993912, 32993913)], [(32993901, 32993902)...",21,"[1, 1, 1, 1, 4, 1, 1, 1, 1, 4, 4, 3, 1, 1, 2, ...","[(32993912, 32993913), (32993912, 32993913), (...",25,0,[],[],0,0.077206,0.091912,0.0
20,chr13,26052087,26052110,VEGFA_site2_chr13_26626241_365,TCCCCCCCACCCCCCACCTCAGG,NaN,NaN,REGION_20.bam,unknown,357.0,192.0,165.0,"[[1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2...","[[(26052088, 26052089), (26052100, 26052102)],...",284,[],[],0,0,[11],"[(26052100, 26052111)]",1,0.795518,0.000000,0.0
21,chr11,63623611,63623634,VEGFA_site2_chr11_63391090_362,GACACCTTCCACCCCGTCTCTGG,NaN,NaN,REGION_21.bam,-,321.0,135.0,186.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
22,chr18,23779588,23779611,VEGFA_site2_chr18_21359559_357,GCCCCCACCCACCCCGCCTCTGG,NaN,NaN,REGION_22.bam,-,387.0,187.0,200.0,"[[1], [5], [5], [18], [9]]","[[(23779605, 23779606)], [(23779593, 23779598)...",5,"[9, 9]","[(23779600, 23779609), (23779600, 23779609)]",2,0,[18],"[(23779583, 23779601)]",1,0.012920,0.005168,0.0
23,chr11,46120297,46120320,VEGFA_site2_chr11_46141855_336,CATCCCCCCCACCCCACCCCGGG,NaN,NaN,REGION_23.bam,-,279.0,140.0,139.0,"[[], [], [1], [], [], [], [], [], [], [], [], ...","[[], [], [(46120310, 46120311)], [], [], [], [...",20,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[(46120310, 46120311), (46120310, 46120311), (...",37,0,[],[],0,0.071685,0.132616,0.0
24,chrX,150764038,150764061,VEGFA_site2_chrX_149932528_330,CTGCCCCCCCACCCCGCCACTGG,NaN,NaN,REGION_24.bam,+,340.0,177.0,163.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
25,chr13,99894728,99894751,VEGFA_site2_chr13_100546988_303,CCCCCCCCCCCCCCCGCCTCAGG,NaN,NaN,REGION_25.bam,-,216.0,146.0,70.0,"[[1], [], [], [], [], [1], [], [], [], [], [1]...","[[(99894736, 99894737)], [], [], [], [], [(998...",91,"[3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, ...","[(99894740, 99894743), (99894740, 99894743), (...",104,0,[3],"[(99894749, 99894752)]",1,0.421296,0.481481,0.0
26,chr19,13011357,13011380,VEGFA_site2_chr19_13122188_291,GCCCCCCACCACCCCACCTCGGG,NaN,NaN,REGION_26.bam,+,402.0,217.0,185.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
27,chr16,82700959,82700982,VEGFA_site2_chr16_82734581_278,CCCCCCCCCCCCCCCGCCCCGGG,NaN,NaN,REGION_27.bam,+,342.0,148.0,194.0,"[[5], [5], []]","[[(82700955, 82700960)], [(82700955, 82700960)...",3,"[1, 1]","[(82700962, 82700963), (82700962, 82700963)]",2,0,"[5, 5]","[(82700955, 82700960), (82700955, 82700960)]",2,0.008772,0.005848,0.0
28,chrX,129906647,129906670,VEGFA_site2_chrX_129040641_263,TGCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_28.bam,+,296.0,143.0,153.0,"[[2], [1], [], [], [1], [], [2], [], [1], [], ...","[[(129906656, 129906658)], [(129906649, 129906...",13,"[3, 3, 2, 2, 1, 1, 3, 3, 2, 2, 3, 3, 3, 3, 1, ...","[(129906648, 129906651), (129906648, 129906651...",20,0,[],[],0,0.043919,0.067568,0.0
29,chr3,31417159,31417182,VEGFA_site2_chr3_31458658_256,CTTCCCCCACACCCCGCCCCAGG,NaN,NaN,REGION_29.bam,-,351.0,174.0,177.0,"[[1], [1], []]","[[(31417174, 31417175)], [(31417174, 31417175)...",3,"[1, 1]","[(31417174, 31417175), (31417174, 31417175)]",2,0,[],[],0,0.008547,0.005698,0.0
30,chr11,374660,374683,VEGFA_site2_chr11_374666_252,AGGCCCCCCCGCCCCGCCTCAGG,NaN,NaN,REGION_30.bam,-,66.0,33.0,33.0,[[1]],"[[(374672, 374673)]]",1,[],[],0,0,[],[],0,0.015152,0.000000,0.0
31,chr11,13926806,13926829,VEGFA_site2_chr11_13948370_246,TACCCCCCCCACCCCGCCACAGG,NaN,NaN,REGION_31.bam,+,281.0,160.0,121.0,"[[], [1], [1], [1]]","[[], [(13926808, 13926809)], [(13926808, 13926...",4,"[1, 1]","[(13926808, 13926809), (13926808, 13926809)]",2,0,[],[],0,0.014235,0.007117,0.0
32,chr4,8840184,8840207,VEGFA_site2_chr4_8841917_235,CATACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_32.bam,-,351.0,173.0,178.0,[[6]],"[[(8840187, 8840193)]]",1,[],[],0,0,[],[],0,0.002849,0.000000,0.0
33,chr9,136546388,136546411,VEGFA_site2_chr9_139440844_202,CGCCCTCCCCACTCCGCCTCGGG,NaN,NaN,REGION_33.bam,unknown,401.0,264.0,137.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
34,chr19,14032156,14032179,VEGFA_site2_chr19_14142975_192,GAGCTCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_34.bam,-,373.0,161.0,212.0,[[1]],"[[(14032169, 14032170)]]",1,[],[],0,0,[],[],0,0.002681,0.000000,0.0
35,chr7,95690358,95690381,VEGFA_site2_chr7_95319677_179,GACCCCTCACACCCCGCCCCTGG,NaN,NaN,REGION_35.bam,-,313.0,151.0,162.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
36,chr8,18184030,18184053,VEGFA_site2_chr8_18041545_160,CCCCCCCACCACCCCGCCCCGGG,NaN,NaN,REGION_36.bam,-,423.0,204.0,219.0,"[[], [1], [1]]","[[], [(18184046, 18184047)], [(18184046, 18184...",3,"[1, 1]","[(18184046, 18184047), (18184046, 18184047)]",2,0,[],[],0,0.007092,0.004728,0.0
37,chr17,17051531,17051554,VEGFA_site2_chr17_16954852_141,CTCCCCCGCCACCCCGCCCCAGG,NaN,NaN,REGION_37.bam,-,375.0,198.0,177.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
38,chr20,10933306,10933329,VEGFA_site2_chr20_10913961_138,CCACCCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_38.bam,-,294.0,159.0,135.0,"[[1], [1], [1], [], [], [], [], [], [], [], [1]]","[[(10933319, 10933320)], [(10933319, 10933320)...",11,"[1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1]","[(10933319, 10933320), (10933319, 10933320), (...",14,0,[],[],0,0.037415,0.047619,0.0
39,chr1,939940,939963,VEGFA_site2_chr1_875337_135,GACCCTGTCCACCCCACCTCAGG,NaN,NaN,REGION_39.bam,+,295.0,158.0,137.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
40,chr7,105293491,105293514,VEGFA_site2_chr7_104933955_135,TCCACCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_40.bam,+,363.0,174.0,189.0,"[[], [], [], [1], [1]]","[[], [], [], [(105293506, 105293507)], [(10529...",5,"[1, 1, 1, 1, 1]","[(105293494, 105293495), (105293494, 105293495...",5,0,[],[],0,0.013774,0.013774,0.0
41,chr9,123375895,123375918,VEGFA_site2_chr9_126138181_128,CACTCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_41.bam,-,387.0,189.0,198.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
42,chr10,132143134,132143157,VEGFA_site2_chr10_133956644_126,AGCCCCCCCCACCCCGACTCAGG,NaN,NaN,REGION_42.bam,-,375.0,170.0,205.0,"[[], [], [], [], [], []]","[[], [], [], [], [], []]",6,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[(132143147, 132143148), (132143147, 132143148...",12,0,[],[],0,0.016000,0.032000,0.0
43,chr12,25872155,25872178,VEGFA_site2_chr12_26025095_123,CATTCCCCCCACCCCACCTCAGG,NaN,NaN,REGION_43.bam,-,305.0,142.0,163.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
44,chr5,14457377,14457400,VEGFA_site2_chr5_14457504_122,CCCCCCCCCCGCCCCGCCCCCCG,NaN,NaN,REGION_44.bam,+,187.0,31.0,156.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
45,chr11,12287370,12287393,VEGFA_site2_chr11_12308933_121,ATCCCCCTCCACCCCACCCCTGG,NaN,NaN,REGION_45.bam,+,317.0,158.0,159.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
46,chr3,140679941,140679964,VEGFA_site2_chr3_140398800_111,CAACCCCCCCACCCCGCTTCAGG,NaN,NaN,REGION_46.bam,+,209.0,95.0,114.0,[[1]],"[[(140679941, 140679942)]]",1,[],[],0,0,[],[],0,0.004785,0.000000,0.0
47,chr2,128486621,128486644,VEGFA_site2_chr2_129244202_108,CCCCCCCCCCACCCCGCCCCCGG,NaN,NaN,REGION_47.bam,-,159.0,104.0,55.0,"[[], [1], [1], [], [1], [], []]","[[], [(128486634, 128486635)], [(128486634, 12...",7,"[1, 1, 1, 1, 1, 1, 5]","[(128486634, 128486635), (128486634, 128486635...",7,0,[],[],0,0.044025,0.044025,0.0
48,chr2,169716823,169716846,VEGFA_site2_chr2_170573355_98,CCACCCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_48.bam,+,168.0,27.0,141.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
49,chr2,11559821,11559844,VEGFA_site2_chr2_11699964_95,CTCCCTCCCCACCCCACCTCTGG,NaN,NaN,REGION_49.bam,+,417.0,217.0,200.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
50,chr4,1494513,1494536,VEGFA_site2_chr4_1496257_92,AGGCCCCCACACCCCGCCTCAGG,NaN,NaN,REGION_50.bam,+,374.0,206.0,168.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
51,chr2,24634707,24634730,VEGFA_site2_chr2_24857593_87,ACCCCCCCCCCCCCCGCCCCCGG,NaN,NaN,REGION_51.bam,+,176.0,28.0,148.0,"[[1], [1], [2], [1], [2], [1], [1], [2], [1], ...","[[(24634708, 24634709)], [(24634708, 24634709)...",60,"[1, 1, 1, 1, 4, 4, 1, 1]","[(24634714, 24634715), (24634714, 24634715), (...",8,0,[],[],0,0.340909,0.045455,0.0
52,chr4,7327802,7327825,VEGFA_site2_chr4_7329546_87,GCCCCCCCCAACCCCGCCCCCGG,NaN,NaN,REGION_52.bam,+,305.0,172.0,133.0,"[[], [], [], []]","[[], [], [], []]",4,"[1, 1, 1, 1, 1, 1, 1]","[(7327803, 7327804), (7327803, 7327804), (7327...",7,0,[],[],0,0.013115,0.022951,0.0
53,chr10,70778444,70778467,VEGFA_site2_chr10_72538217_75,CAGTCCCCCCACCCCACCTCTGG,NaN,NaN,REGION_53.bam,+,359.0,179.0,180.0,"[[20], [1], [1], [1]]","[[(70778459, 70778479)], [(70778448, 70778449)...",4,[],[],0,0,[20],"[(70778459, 70778479)]",1,0.011142,0.000000,0.0
54,chr22,44739007,44739030,VEGFA_site2_chr22_45134894_75,CACCCACTACTCCCCGCCTCAGG,NaN,NaN,REGION_54.bam,-,415.0,206.0,209.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
55,chr19,45448779,45448802,VEGFA_site2_chr19_45952054_74,AAGACCCCCCACCCCGCCCCAGG,NaN,NaN,REGION_55.bam,+,370.0,195.0,175.0,[[1]],"[[(45448782, 45448783)]]",1,[],[],0,0,[],[],0,0.002703,0.000000,0.0
56,chr5,171451048,171451071,VEGFA_site2_chr5_170878070_71,CCGCCCCCCCACCCCGCCGCCGG,NaN,NaN,REGION_56.bam,+,284.0,125.0,159.0,"[[], [], [], []]","[[], [], [], []]",4,"[1, 1, 1, 1, 1, 2]","[(171451048, 171451049), (171451050, 171451051...",6,0,[],[],0,0.014085,0.021127,0.0
57,chr5,139648654,139648677,VEGFA_site2_chr5_139028256_65,CTCCCCCCCCTCCCCGCCTCGGG,NaN,NaN,REGION_57.bam,+,320.0,158.0,162.0,"[[24], [24], [2], [], [1], [], [1], [], [1], [...","[[(139648647, 139648671)], [(139648647, 139648...",12,"[12, 1, 1, 1, 1, 5, 5, 12]","[(139648671, 139648683), (139648656, 139648657...",8,0,"[24, 24]","[(139648647, 139648671), (139648647, 139648671)]",2,0.037500,0.025000,0.0
58,chr7,50697814,50697837,VEGFA_site2_chr7_50765529_65,AACCACCCCCACCCCACCCCAGG,NaN,NaN,REGION_58.bam,+,339.0,195.0,144.0,[[]],[[]],1,"[1, 1]","[(50697834, 50697835), (50697834, 50697835)]",2,0,[],[],0,0.002950,0.005900,0.0
59,chr11,83722550,83722573,VEGFA_site2_chr11_83433600_65,GTCACTCCCCACCCCGCCTCTGG,NaN,NaN,REGION_59.bam,-,304.0,142.0,162.0,[[1]],"[[(83722558, 83722559)]]",1,[],[],0,0,[],[],0,0.003289,0.000000,0.0
60,chrX,119731513,119731536,VEGFA_site2_chrX_118865483_63,GTCCTCCACCACCCCGCCTCTGG,NaN,NaN,REGION_60.bam,-,325.0,182.0,143.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
61,chr5,156894113,156894136,VEGFA_site2_chr5_156321140_59,GACCCCACCTACCCCACCTCAGG,NaN,NaN,REGION_61.bam,+,343.0,197.0,146.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
62,chr22,47115342,47115365,VEGFA_site2_chr22_47511254_52,GCCCCCCACCACCCCACCCCCGG,NaN,NaN,REGION_62.bam,+,361.0,195.0,166.0,"[[], [], []]","[[], [], []]",3,"[1, 1, 1, 1, 1, 1]","[(47115350, 47115351), (47115350, 47115351), (...",6,0,[],[],0,0.008310,0.016620,0.0
63,chr2,105374363,105374386,VEGFA_site2_chr2_105990827_45,GGGCCCTCCCACCTCGCCCCTGG,NaN,NaN,REGION_63.bam,-,328.0,181.0,147.0,"[[1], []]","[[(105374366, 105374367)], []]",2,"[1, 1]","[(105374383, 105374384), (105374383, 105374384)]",2,0,[],[],0,0.006098,0.006098,0.0
64,chr11,2665012,2665035,VEGFA_site2_chr11_2686249_40,CTCACCCCCCACCCCACCTCTGG,NaN,NaN,REGION_64.bam,-,331.0,186.0,145.0,[[]],[[]],1,"[1, 1]","[(2665025, 2665026), (2665025, 2665026)]",2,0,[],[],0,0.003021,0.006042,0.0
65,chr16,85304593,85304616,VEGFA_site2_chr16_85338205_37,ATGCCCCACCCCCCCGCCCCCGG,NaN,NaN,REGION_65.bam,-,284.0,197.0,87.0,"[[], [], [], [], [1], [], [], [], [], [], [], ...","[[], [], [], [], [(85304608, 85304609)], [], [...",91,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, ...","[(85304601, 85304602), (85304601, 85304602), (...",174,0,[],[],0,0.320423,0.612676,0.0
66,chrX,153571653,153571676,VEGFA_site2_chrX_152837128_37,GTCCCCCTCCTCCCCACCTCCGG,NaN,NaN,REGION_66.bam,+,302.0,171.0,131.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
67,chr22,39706378,39706401,VEGFA_site2_chr22_40102400_36,GTCCCTCCCCACCCCGCCTTGGG,NaN,NaN,REGION_67.bam,+,414.0,198.0,216.0,"[[1], [1], [1]]","[[(39706384, 39706385)], [(39706388, 39706389)...",3,[],[],0,0,[],[],0,0.007246,0.000000,0.0
68,chr17,67636857,67636880,VEGFA_site2_chr17_65632990_35,AACACCCTCCACCCCACCACAGG,NaN,NaN,REGION_68.bam,+,406.0,199.0,207.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
69,chr4,142846213,142846236,VEGFA_site2_chr4_143767373_34,GCCGCCCCCCACTCCGCCTCCGG,NaN,NaN,REGION_69.bam,-,312.0,146.0,166.0,[[]],[[]],1,"[1, 1]","[(142846229, 142846230), (142846229, 142846230)]",2,0,[],[],0,0.003205,0.006410,0.0
70,chr10,101061743,101061766,VEGFA_site2_chr10_102821517_32,CTACCCCCACTCCCCGCCTCCGG,NaN,NaN,REGION_70.bam,+,419.0,214.0,205.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
71,chr19,42302642,42302665,VEGFA_site2_chr19_42806801_32,TTCTCCCTCCTCCCCGCCTCGGG,NaN,NaN,REGION_71.bam,-,367.0,131.0,236.0,[[1]],"[[(42302650, 42302651)]]",1,[],[],0,0,[],[],0,0.002725,0.000000,0.0
72,chr9,137368986,137369009,VEGFA_site2_chr9_140263445_31,AAGCCCCCCCACCCCGCCCCGGG,NaN,NaN,REGION_72.bam,-,141.0,93.0,48.0,"[[], [], [], []]","[[], [], [], []]",4,"[1, 1, 1, 1, 1, 1, 1, 1]","[(137368999, 137369000), (137368999, 137369000...",8,0,[],[],0,0.028369,0.056738,0.0
73,chr17,57663161,57663184,VEGFA_site2_chr17_55740529_31,CCGCCCCTCCACCCCGCCACTGG,NaN,NaN,REGION_73.bam,-,369.0,181.0,188.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
74,chr16,57940327,57940350,VEGFA_site2_chr16_57974238_30,TATCCTCCCCACCCCGCCCCGGG,NaN,NaN,REGION_74.bam,-,389.0,213.0,176.0,[[1]],"[[(57940340, 57940341)]]",1,[],[],0,0,[],[],0,0.002571,0.000000,0.0
75,chr5,133524667,133524690,VEGFA_site2_chr5_132860375_29,TGCACCCCCCACCCCGCCCCTGG,NaN,NaN,REGION_75.bam,+,326.0,190.0,136.0,[[5]],"[[(133524678, 133524683)]]",1,[],[],0,0,[],[],0,0.003067,0.000000,0.0
76,chr11,45774498,45774521,VEGFA_site2_chr11_45796055_29,ATCCCTCTCCACCCCACCCCAGG,NaN,NaN,REGION_76.bam,-,396.0,186.0,210.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
77,chr17,64089687,64089710,VEGFA_site2_chr17_62167053_29,ACTCCCCTCCACCCCGGCTCGGG,NaN,NaN,REGION_77.bam,-,298.0,140.0,158.0,[],[],0,[],[],0,0,[],[],0,0.000000,0.000000,0.0
78,chr11,67584045,67584068,VEGFA_site2_chr11_67351523_27,TGCCCCCTCT-CCCCGCCCCCGG,NaN,NaN,REGION_78.bam,unknown,351.0,170.0,181.0,"[[], [], [], [], [], [], [1], [], [], [], [], ...","[[], [], [], [], [], [], [(67584057, 67584058)...",114,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, ...","[(67584058, 67584059), (67584058, 67584059), (...",220,0,[],[],0,0.324786,0.626781,0.0
79,chr1,237032374,237032397,VEGFA_site2_chr1_237195681_25,AACCCCACCCACCCCATCTCAGG,NaN,NaN,REGION_79.bam,-,326.0,197.0,129.0,[[1]],"[[(237032390, 237032391)]]",1,[],[],0,0,[],[],0,0.003067,0.000000,0.0

In [228]:
#make a table where we now compare all the editing outcomes - ratio of deletion to deletions, insertions to insertions

#takes in a WT and a edited sample and compares the deletion and insertion rate - as well as calculates a p-value of sorts
#signficant difference in the rates (or the distributions?)
#depth of the WT sample as of now is not great so

def construct_comp_tbl(wt, edited):
    comp_df = pd.DataFrame([])
    # Assuming wt and edited are pandas DataFrames with the same structure
    comp_df['REGION'] = wt['REGION'].tolist()
    print(wt['% reads with an deletion'])
    print(edited['% reads with an deletion'])
    comp_df['% edited/ % wt deletion rate'] = edited['% reads with an deletion'] / wt['% reads with an deletion']
    comp_df['% edited/ % wt insertion rate'] = edited['% reads with an insertion'] / wt['% reads with an insertion']
    return comp_df

In [229]:
#the data is "bernoulli" data therefore 
import pandas as pd
import numpy as np
from scipy.stats import fisher_exact
import scipy.stats as stats


def construct_comp_tbl(wt, edited):
    comp_df = pd.DataFrame([])
    
    # Ensure 'REGION' column is included
    comp_df['REGION'] = wt['REGION'].tolist()
    
    # Handle division carefully, replacing zeros with NaN to avoid infinite values
    comp_df['% edited / % wt deletion rate'] = np.where(
        wt['% reads with an deletion'] != 0,
        edited['% reads with an deletion'] / wt['% reads with an deletion'],
        np.nan
    )
    comp_df['% edited / % wt insertion rate'] = np.where(
        wt['% reads with an insertion'] != 0,
        edited['% reads with an insertion'] / wt['% reads with an insertion'],
        np.nan
    )

    #construct a contigency table
    for index, row in wt.iterrows():
        cont = pd.DataFrame([])
        cont_indel = pd.DataFrame([])
        
        region = row['REGION']
        cont['wt'] = [int(row['number of reads with deletion(s)']),
        int(row['total_reads']) - int(row['number of reads with deletion(s)'])]

        row2 = edited.iloc[index]
        cont['edited'] = [int(row2['number of reads with deletion(s)']),
        int(row2['total_reads']) - int(row2['number of reads with deletion(s)'])]
        
        cont['type'] = ['deletion', 'no deletions']
        cont.set_index('type', inplace=True)
        display(cont)
        #not quite significant -- perhaps because don't have enough depth
        #now that we have constructed the contigency tables - do some stats !
        odds_ratio, p_value = stats.fisher_exact(cont)

        
        #create the regions table
        comp_df.loc[comp_df['REGION'] == region, 'deletion odds_ratio'] = odds_ratio
        comp_df.loc[comp_df['REGION'] == region, 'deletion p-value'] = p_value
        
        comp_df.loc[comp_df['REGION'] == region, 'indel odds_ratio'] = odds_ratio
        comp_df.loc[comp_df['REGION'] == region, 'indel p-value'] = p_value
    
    return comp_df
    
    #calculate the chi squared test 

#probably non of the stats are really significant
display(construct_comp_tbl(hgwttbl, hg1tbl))

              wt  edited
type
deletion       0      15
no deletions  37     329

              wt  edited
type
deletion       0       4
no deletions  32     329

              wt  edited
type
deletion       0       6
no deletions  43     387

              wt  edited
type
deletion       1       6
no deletions  63     284

              wt  edited
type
deletion       0       0
no deletions  13     180

              wt  edited
type
deletion       0       1
no deletions  36     361

              wt  edited
type
deletion       0       3
no deletions  26     417

              wt  edited
type
deletion       0       0
no deletions  24     496

              wt  edited
type
deletion       0       0
no deletions  40     406

              wt  edited
type
deletion       0       0
no deletions  22     198

              wt  edited
type
deletion       0       2
no deletions  19     266

              wt  edited
type
deletion      12     154
no deletions  21     199

              wt  edited
type
deletion      10     127
no deletions   7     133

              wt  edited
type
deletion       0       1
no deletions  33     336

              wt  edited
type
deletion       0       1
no deletions  37     356

              wt  edited
type
deletion       0      20
no deletions  31     323

              wt  edited
type
deletion       0      13
no deletions  36     371

              wt  edited
type
deletion       0       5
no deletions  23     262

              wt  edited
type
deletion       0       0
no deletions  35     288

              wt  edited
type
deletion       0      21
no deletions  23     251

              wt  edited
type
deletion      23     284
no deletions   9      73

              wt  edited
type
deletion       0       0
no deletions  36     321

              wt  edited
type
deletion       0       5
no deletions  26     382

              wt  edited
type
deletion       1      20
no deletions  26     259

              wt  edited
type
deletion       0       0
no deletions  33     340

              wt  edited
type
deletion      14      91
no deletions  11     125

              wt  edited
type
deletion       0       0
no deletions  42     402

              wt  edited
type
deletion       1       3
no deletions  42     339

              wt  edited
type
deletion       0      13
no deletions  35     283

              wt  edited
type
deletion       0       3
no deletions  38     348

              wt  edited
type
deletion       0       1
no deletions   3      65

              wt  edited
type
deletion       1       4
no deletions  23     277

              wt  edited
type
deletion       0       1
no deletions  33     350

              wt  edited
type
deletion       0       0
no deletions  31     401

              wt  edited
type
deletion       0       1
no deletions  44     372

              wt  edited
type
deletion       0       0
no deletions  26     313

              wt  edited
type
deletion       1       3
no deletions  52     420

              wt  edited
type
deletion       0       0
no deletions  42     375

              wt  edited
type
deletion       1      11
no deletions  19     283

              wt  edited
type
deletion       0       0
no deletions  34     295

              wt  edited
type
deletion       0       5
no deletions  42     358

              wt  edited
type
deletion       0       0
no deletions  33     387

              wt  edited
type
deletion       0       6
no deletions  36     369

              wt  edited
type
deletion       0       0
no deletions  29     305

              wt  edited
type
deletion       0       0
no deletions  20     187

              wt  edited
type
deletion       0       0
no deletions  24     317

              wt  edited
type
deletion       0       1
no deletions  31     208

              wt  edited
type
deletion       1       7
no deletions  27     152

              wt  edited
type
deletion       0       0
no deletions  19     168

              wt  edited
type
deletion       0       0
no deletions  49     417

              wt  edited
type
deletion       0       0
no deletions  32     374

              wt  edited
type
deletion       6      60
no deletions   9     116

              wt  edited
type
deletion       1       4
no deletions  33     301

              wt  edited
type
deletion       0       4
no deletions  43     355

              wt  edited
type
deletion       0       0
no deletions  32     415

              wt  edited
type
deletion       0       1
no deletions  34     369

              wt  edited
type
deletion       1       4
no deletions  16     280

              wt  edited
type
deletion       0      12
no deletions  28     308

              wt  edited
type
deletion       0       1
no deletions  46     338

              wt  edited
type
deletion       1       1
no deletions  26     303

              wt  edited
type
deletion       0       0
no deletions  32     325

              wt  edited
type
deletion       0       0
no deletions  41     343

              wt  edited
type
deletion       0       3
no deletions  30     358

              wt  edited
type
deletion       0       2
no deletions  30     326

              wt  edited
type
deletion       0       1
no deletions  32     330

              wt  edited
type
deletion       6      91
no deletions  19     193

              wt  edited
type
deletion       0       0
no deletions  22     302

              wt  edited
type
deletion       1       3
no deletions  43     411

              wt  edited
type
deletion       0       0
no deletions  41     406

              wt  edited
type
deletion       0       1
no deletions  12     311

              wt  edited
type
deletion       0       0
no deletions  34     419

              wt  edited
type
deletion       0       1
no deletions  43     366

              wt  edited
type
deletion       0       4
no deletions   6     137

              wt  edited
type
deletion       0       0
no deletions  25     369

              wt  edited
type
deletion       0       1
no deletions  41     388

              wt  edited
type
deletion       0       1
no deletions  51     325

              wt  edited
type
deletion       0       0
no deletions  48     396

              wt  edited
type
deletion       0       0
no deletions  31     298

              wt  edited
type
deletion      10     114
no deletions  22     237

              wt  edited
type
deletion       0       1
no deletions  34     325

              wt  edited
type
deletion       0       1
no deletions  54     414

              wt  edited
type
deletion       0       1
no deletions  39     370

              wt  edited
type
deletion       0       1
no deletions  27     330

              wt  edited
type
deletion       0       1
no deletions  40     377

              wt  edited
type
deletion       0       3
no deletions  22     196

              wt  edited
type
deletion       0       0
no deletions  26     440

              wt  edited
type
deletion       0       0
no deletions  39     308

              wt  edited
type
deletion       0       0
no deletions  34     340

              wt  edited
type
deletion       0       0
no deletions  35     375

              wt  edited
type
deletion       0       0
no deletions  43     355

              wt  edited
type
deletion       0       0
no deletions  34     369

              wt  edited
type
deletion       0       1
no deletions  16     151

              wt  edited
type
deletion       0       0
no deletions  41     382

              wt  edited
type
deletion       1       7
no deletions  36     337

              wt  edited
type
deletion       0       4
no deletions  30     330

              wt  edited
type
deletion       0       0
no deletions  49     427

              wt  edited
type
deletion       0       2
no deletions  41     333

              wt  edited
type
deletion       0       2
no deletions  20     248

              wt  edited
type
deletion       0       0
no deletions  18     209

              wt  edited
type
deletion       0       4
no deletions  23     253

              wt  edited
type
deletion       0       3
no deletions  30     382

              wt  edited
type
deletion       0      29
no deletions  14     294

              wt  edited
type
deletion       0       0
no deletions  39     415

              wt  edited
type
deletion       0       0
no deletions  45     336

              wt  edited
type
deletion       0       2
no deletions  22     437

              wt  edited
type
deletion       0       0
no deletions  41     395

              wt  edited
type
deletion       0       2
no deletions  30     365

              wt  edited
type
deletion       1       0
no deletions  44     433

              wt  edited
type
deletion       0       3
no deletions  40     329

              wt  edited
type
deletion       0       2
no deletions  24     340

              wt  edited
type
deletion       2      34
no deletions  11     151

              wt  edited
type
deletion       0       1
no deletions  41     431

              wt  edited
type
deletion       0       1
no deletions  40     372

              wt  edited
type
deletion       1       4
no deletions  28     301

              wt  edited
type
deletion       0       0
no deletions  25     308

              wt  edited
type
deletion       0       1
no deletions  41     351

              wt  edited
type
deletion       0       3
no deletions  25     245

              wt  edited
type
deletion       0       0
no deletions  29     346

              wt  edited
type
deletion       0       0
no deletions  28     383

              wt  edited
type
deletion       0       1
no deletions  38     279

              wt  edited
type
deletion       0       4
no deletions  19     251

              wt  edited
type
deletion       1       0
no deletions  34     434

              wt  edited
type
deletion       1       6
no deletions  32     354

              wt  edited
type
deletion       4      36
no deletions   5      27

              wt  edited
type
deletion       6      59
no deletions  16     132

              wt  edited
type
deletion       0       0
no deletions   0       0

                wt  edited
type
deletion        34     423
no deletions  5761   81419

              wt  edited
type
deletion       0       0
no deletions  37     337

              wt  edited
type
deletion       0       0
no deletions  31     352

              wt  edited
type
deletion       0       0
no deletions  35     379

              wt  edited
type
deletion       0       1
no deletions  38     296

              wt  edited
type
deletion       0       0
no deletions  15     253

              wt  edited
type
deletion       0       0
no deletions  16     204

              wt  edited
type
deletion       0       0
no deletions  24     295

              wt  edited
type
deletion       0       0
no deletions  35     352

              wt  edited
type
deletion       0       0
no deletions  33     383

              wt  edited
type
deletion       2       5
no deletions  34     319

              wt  edited
type
deletion       1       2
no deletions  37     318

              wt  edited
type
deletion       0       0
no deletions  45     351

              wt  edited
type
deletion       0       4
no deletions  35     456

              wt  edited
type
deletion       0       0
no deletions  19     214

              wt  edited
type
deletion       0       2
no deletions  20     150

              wt  edited
type
deletion       0       0
no deletions  41     386

              wt  edited
type
deletion       0       1
no deletions  51     386

              wt  edited
type
deletion       0       0
no deletions  37     373

              wt  edited
type
deletion       0       1
no deletions  34     373

              wt  edited
type
deletion       0       2
no deletions  57     368

              wt  edited
type
deletion       0       3
no deletions  45     417

              wt  edited
type
deletion       0       0
no deletions  33     288

              wt  edited
type
deletion       0       0
no deletions  27     294

              wt  edited
type
deletion       0       0
no deletions  27     383

              wt  edited
type
deletion       1       1
no deletions  27     351

,REGION,% edited / % wt deletion rate,% edited / % wt insertion rate,deletion odds_ratio,deletion p-value,indel odds_ratio,indel p-value
0,REGION_0.bam,NaN,NaN,0.000000,0.379283,0.000000,0.379283
1,REGION_1.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
2,REGION_2.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
3,REGION_3.bam,1.324138,0.441379,0.751323,1.000000,0.751323,1.000000
4,REGION_4.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
5,REGION_5.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
6,REGION_6.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
7,REGION_7.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
8,REGION_8.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
9,REGION_9.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
10,REGION_10.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
11,REGION_11.bam,1.199717,1.388911,0.738404,0.466329,0.738404,0.466329
12,REGION_12.bam,0.830385,NaN,1.496063,0.462616,1.496063,0.462616
13,REGION_13.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
14,REGION_14.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
15,REGION_15.bam,NaN,NaN,0.000000,0.393197,0.000000,0.393197
16,REGION_16.bam,NaN,NaN,0.000000,0.614481,0.000000,0.614481
17,REGION_17.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
18,REGION_18.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
19,REGION_19.bam,NaN,NaN,0.000000,0.388362,0.000000,0.388362
20,REGION_20.bam,1.106808,NaN,0.656886,0.363871,0.656886,0.363871
21,REGION_21.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
22,REGION_22.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
23,REGION_23.bam,1.935484,1.790323,0.498077,1.000000,0.498077,1.000000
24,REGION_24.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
25,REGION_25.bam,0.752315,1.504630,1.748252,0.205920,1.748252,0.205920
26,REGION_26.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
27,REGION_27.bam,0.377193,NaN,2.690476,0.378552,2.690476,0.378552
28,REGION_28.bam,NaN,NaN,0.000000,0.375185,0.000000,0.375185
29,REGION_29.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
30,REGION_30.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
31,REGION_31.bam,0.341637,NaN,3.010870,0.338083,3.010870,0.338083
32,REGION_32.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
33,REGION_33.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
34,REGION_34.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
35,REGION_35.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
36,REGION_36.bam,0.375887,NaN,2.692308,0.377350,2.692308,0.377350
37,REGION_37.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
38,REGION_38.bam,0.748299,NaN,1.354067,0.552657,1.354067,0.552657
39,REGION_39.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
40,REGION_40.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
41,REGION_41.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
42,REGION_42.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
43,REGION_43.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
44,REGION_44.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
45,REGION_45.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
46,REGION_46.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
47,REGION_47.bam,1.232704,NaN,0.804233,1.000000,0.804233,1.000000
48,REGION_48.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
49,REGION_49.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
50,REGION_50.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
51,REGION_51.bam,0.852273,NaN,1.288889,0.778134,1.288889,0.778134
52,REGION_52.bam,0.445902,0.390164,2.280303,0.412431,2.280303,0.412431
53,REGION_53.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
54,REGION_54.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
55,REGION_55.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
56,REGION_56.bam,0.239437,0.359155,4.375000,0.253746,4.375000,0.253746
57,REGION_57.bam,NaN,NaN,0.000000,0.609292,0.000000,0.609292
58,REGION_58.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
59,REGION_59.bam,0.088816,NaN,11.653846,0.156715,11.653846,0.156715
60,REGION_60.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
61,REGION_61.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
62,REGION_62.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
63,REGION_63.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
64,REGION_64.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
65,REGION_65.bam,1.335094,1.276408,0.669751,0.503714,0.669751,0.503714
66,REGION_66.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
67,REGION_67.bam,0.318841,NaN,3.186047,0.333298,3.186047,0.333298
68,REGION_68.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
69,REGION_69.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
70,REGION_70.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
71,REGION_71.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
72,REGION_72.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
73,REGION_73.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
74,REGION_74.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
75,REGION_75.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
76,REGION_76.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
77,REGION_77.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
78,REGION_78.bam,1.039316,1.002849,0.944976,1.000000,0.944976,1.000000
79,REGION_79.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
80,REGION_80.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
81,REGION_81.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
82,REGION_82.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
83,REGION_83.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
84,REGION_84.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
85,REGION_85.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
86,REGION_86.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
87,REGION_87.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
88,REGION_88.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
89,REGION_89.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
90,REGION_90.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
91,REGION_91.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
92,REGION_92.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
93,REGION_93.bam,0.752907,0.645349,1.337302,0.561887,1.337302,0.561887
94,REGION_94.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
95,REGION_95.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
96,REGION_96.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
97,REGION_97.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
98,REGION_98.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
99,REGION_99.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
100,REGION_100.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
101,REGION_101.bam,NaN,NaN,0.000000,0.619605,0.000000,0.619605
102,REGION_102.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
103,REGION_103.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
104,REGION_104.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
105,REGION_105.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
106,REGION_106.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
107,REGION_107.bam,0.000000,NaN,inf,0.094142,inf,0.094142
108,REGION_108.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
109,REGION_109.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
110,REGION_110.bam,1.194595,1.241441,0.807487,1.000000,0.807487,1.000000
111,REGION_111.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
112,REGION_112.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
113,REGION_113.bam,0.380328,0.095082,2.687500,0.366832,2.687500,0.366832
114,REGION_114.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
115,REGION_115.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
116,REGION_116.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
117,REGION_117.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
118,REGION_118.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
119,REGION_119.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
120,REGION_120.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
121,REGION_121.bam,0.000000,NaN,inf,0.074627,inf,0.074627
122,REGION_122.bam,0.550000,0.275000,1.843750,0.461461,1.843750,0.461461
123,REGION_123.bam,1.285714,0.071429,0.600000,0.498310,0.600000,0.498310
124,REGION_124.bam,1.132635,1.204188,0.838983,0.811390,0.838983,0.811390
125,REGION_125.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
126,REGION_126.bam,0.880924,1.270483,1.135969,0.450343,1.135969,0.450343
127,REGION_127.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
128,REGION_128.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
129,REGION_129.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
130,REGION_130.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
131,REGION_131.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
132,REGION_132.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
133,REGION_133.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
134,REGION_134.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
135,REGION_135.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
136,REGION_136.bam,0.277778,0.888889,3.752941,0.148285,3.752941,0.148285
137,REGION_137.bam,0.237500,0.000000,4.297297,0.286545,4.297297,0.286545
138,REGION_138.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
139,REGION_139.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
140,REGION_140.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
141,REGION_141.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
142,REGION_142.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
143,REGION_143.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
144,REGION_144.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
145,REGION_145.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
146,REGION_146.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
147,REGION_147.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
148,REGION_148.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
149,REGION_149.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
150,REGION_150.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
151,REGION_151.bam,0.079545,NaN,13.000000,0.142119,13.000000,0.142119

In [230]:
# Set options to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#can also do something with the distribution of the 
construct_comp_tbl(hgwttbl, hg1tbl)

              wt  edited
type
deletion       0      15
no deletions  37     329

              wt  edited
type
deletion       0       4
no deletions  32     329

              wt  edited
type
deletion       0       6
no deletions  43     387

              wt  edited
type
deletion       1       6
no deletions  63     284

              wt  edited
type
deletion       0       0
no deletions  13     180

              wt  edited
type
deletion       0       1
no deletions  36     361

              wt  edited
type
deletion       0       3
no deletions  26     417

              wt  edited
type
deletion       0       0
no deletions  24     496

              wt  edited
type
deletion       0       0
no deletions  40     406

              wt  edited
type
deletion       0       0
no deletions  22     198

              wt  edited
type
deletion       0       2
no deletions  19     266

              wt  edited
type
deletion      12     154
no deletions  21     199

              wt  edited
type
deletion      10     127
no deletions   7     133

              wt  edited
type
deletion       0       1
no deletions  33     336

              wt  edited
type
deletion       0       1
no deletions  37     356

              wt  edited
type
deletion       0      20
no deletions  31     323

              wt  edited
type
deletion       0      13
no deletions  36     371

              wt  edited
type
deletion       0       5
no deletions  23     262

              wt  edited
type
deletion       0       0
no deletions  35     288

              wt  edited
type
deletion       0      21
no deletions  23     251

              wt  edited
type
deletion      23     284
no deletions   9      73

              wt  edited
type
deletion       0       0
no deletions  36     321

              wt  edited
type
deletion       0       5
no deletions  26     382

              wt  edited
type
deletion       1      20
no deletions  26     259

              wt  edited
type
deletion       0       0
no deletions  33     340

              wt  edited
type
deletion      14      91
no deletions  11     125

              wt  edited
type
deletion       0       0
no deletions  42     402

              wt  edited
type
deletion       1       3
no deletions  42     339

              wt  edited
type
deletion       0      13
no deletions  35     283

              wt  edited
type
deletion       0       3
no deletions  38     348

              wt  edited
type
deletion       0       1
no deletions   3      65

              wt  edited
type
deletion       1       4
no deletions  23     277

              wt  edited
type
deletion       0       1
no deletions  33     350

              wt  edited
type
deletion       0       0
no deletions  31     401

              wt  edited
type
deletion       0       1
no deletions  44     372

              wt  edited
type
deletion       0       0
no deletions  26     313

              wt  edited
type
deletion       1       3
no deletions  52     420

              wt  edited
type
deletion       0       0
no deletions  42     375

              wt  edited
type
deletion       1      11
no deletions  19     283

              wt  edited
type
deletion       0       0
no deletions  34     295

              wt  edited
type
deletion       0       5
no deletions  42     358

              wt  edited
type
deletion       0       0
no deletions  33     387

              wt  edited
type
deletion       0       6
no deletions  36     369

              wt  edited
type
deletion       0       0
no deletions  29     305

              wt  edited
type
deletion       0       0
no deletions  20     187

              wt  edited
type
deletion       0       0
no deletions  24     317

              wt  edited
type
deletion       0       1
no deletions  31     208

              wt  edited
type
deletion       1       7
no deletions  27     152

              wt  edited
type
deletion       0       0
no deletions  19     168

              wt  edited
type
deletion       0       0
no deletions  49     417

              wt  edited
type
deletion       0       0
no deletions  32     374

              wt  edited
type
deletion       6      60
no deletions   9     116

              wt  edited
type
deletion       1       4
no deletions  33     301

              wt  edited
type
deletion       0       4
no deletions  43     355

              wt  edited
type
deletion       0       0
no deletions  32     415

              wt  edited
type
deletion       0       1
no deletions  34     369

              wt  edited
type
deletion       1       4
no deletions  16     280

              wt  edited
type
deletion       0      12
no deletions  28     308

              wt  edited
type
deletion       0       1
no deletions  46     338

              wt  edited
type
deletion       1       1
no deletions  26     303

              wt  edited
type
deletion       0       0
no deletions  32     325

              wt  edited
type
deletion       0       0
no deletions  41     343

              wt  edited
type
deletion       0       3
no deletions  30     358

              wt  edited
type
deletion       0       2
no deletions  30     326

              wt  edited
type
deletion       0       1
no deletions  32     330

              wt  edited
type
deletion       6      91
no deletions  19     193

              wt  edited
type
deletion       0       0
no deletions  22     302

              wt  edited
type
deletion       1       3
no deletions  43     411

              wt  edited
type
deletion       0       0
no deletions  41     406

              wt  edited
type
deletion       0       1
no deletions  12     311

              wt  edited
type
deletion       0       0
no deletions  34     419

              wt  edited
type
deletion       0       1
no deletions  43     366

              wt  edited
type
deletion       0       4
no deletions   6     137

              wt  edited
type
deletion       0       0
no deletions  25     369

              wt  edited
type
deletion       0       1
no deletions  41     388

              wt  edited
type
deletion       0       1
no deletions  51     325

              wt  edited
type
deletion       0       0
no deletions  48     396

              wt  edited
type
deletion       0       0
no deletions  31     298

              wt  edited
type
deletion      10     114
no deletions  22     237

              wt  edited
type
deletion       0       1
no deletions  34     325

              wt  edited
type
deletion       0       1
no deletions  54     414

              wt  edited
type
deletion       0       1
no deletions  39     370

              wt  edited
type
deletion       0       1
no deletions  27     330

              wt  edited
type
deletion       0       1
no deletions  40     377

              wt  edited
type
deletion       0       3
no deletions  22     196

              wt  edited
type
deletion       0       0
no deletions  26     440

              wt  edited
type
deletion       0       0
no deletions  39     308

              wt  edited
type
deletion       0       0
no deletions  34     340

              wt  edited
type
deletion       0       0
no deletions  35     375

              wt  edited
type
deletion       0       0
no deletions  43     355

              wt  edited
type
deletion       0       0
no deletions  34     369

              wt  edited
type
deletion       0       1
no deletions  16     151

              wt  edited
type
deletion       0       0
no deletions  41     382

              wt  edited
type
deletion       1       7
no deletions  36     337

              wt  edited
type
deletion       0       4
no deletions  30     330

              wt  edited
type
deletion       0       0
no deletions  49     427

              wt  edited
type
deletion       0       2
no deletions  41     333

              wt  edited
type
deletion       0       2
no deletions  20     248

              wt  edited
type
deletion       0       0
no deletions  18     209

              wt  edited
type
deletion       0       4
no deletions  23     253

              wt  edited
type
deletion       0       3
no deletions  30     382

              wt  edited
type
deletion       0      29
no deletions  14     294

              wt  edited
type
deletion       0       0
no deletions  39     415

              wt  edited
type
deletion       0       0
no deletions  45     336

              wt  edited
type
deletion       0       2
no deletions  22     437

              wt  edited
type
deletion       0       0
no deletions  41     395

              wt  edited
type
deletion       0       2
no deletions  30     365

              wt  edited
type
deletion       1       0
no deletions  44     433

              wt  edited
type
deletion       0       3
no deletions  40     329

              wt  edited
type
deletion       0       2
no deletions  24     340

              wt  edited
type
deletion       2      34
no deletions  11     151

              wt  edited
type
deletion       0       1
no deletions  41     431

              wt  edited
type
deletion       0       1
no deletions  40     372

              wt  edited
type
deletion       1       4
no deletions  28     301

              wt  edited
type
deletion       0       0
no deletions  25     308

              wt  edited
type
deletion       0       1
no deletions  41     351

              wt  edited
type
deletion       0       3
no deletions  25     245

              wt  edited
type
deletion       0       0
no deletions  29     346

              wt  edited
type
deletion       0       0
no deletions  28     383

              wt  edited
type
deletion       0       1
no deletions  38     279

              wt  edited
type
deletion       0       4
no deletions  19     251

              wt  edited
type
deletion       1       0
no deletions  34     434

              wt  edited
type
deletion       1       6
no deletions  32     354

              wt  edited
type
deletion       4      36
no deletions   5      27

              wt  edited
type
deletion       6      59
no deletions  16     132

              wt  edited
type
deletion       0       0
no deletions   0       0

                wt  edited
type
deletion        34     423
no deletions  5761   81419

              wt  edited
type
deletion       0       0
no deletions  37     337

              wt  edited
type
deletion       0       0
no deletions  31     352

              wt  edited
type
deletion       0       0
no deletions  35     379

              wt  edited
type
deletion       0       1
no deletions  38     296

              wt  edited
type
deletion       0       0
no deletions  15     253

              wt  edited
type
deletion       0       0
no deletions  16     204

              wt  edited
type
deletion       0       0
no deletions  24     295

              wt  edited
type
deletion       0       0
no deletions  35     352

              wt  edited
type
deletion       0       0
no deletions  33     383

              wt  edited
type
deletion       2       5
no deletions  34     319

              wt  edited
type
deletion       1       2
no deletions  37     318

              wt  edited
type
deletion       0       0
no deletions  45     351

              wt  edited
type
deletion       0       4
no deletions  35     456

              wt  edited
type
deletion       0       0
no deletions  19     214

              wt  edited
type
deletion       0       2
no deletions  20     150

              wt  edited
type
deletion       0       0
no deletions  41     386

              wt  edited
type
deletion       0       1
no deletions  51     386

              wt  edited
type
deletion       0       0
no deletions  37     373

              wt  edited
type
deletion       0       1
no deletions  34     373

              wt  edited
type
deletion       0       2
no deletions  57     368

              wt  edited
type
deletion       0       3
no deletions  45     417

              wt  edited
type
deletion       0       0
no deletions  33     288

              wt  edited
type
deletion       0       0
no deletions  27     294

              wt  edited
type
deletion       0       0
no deletions  27     383

              wt  edited
type
deletion       1       1
no deletions  27     351

,REGION,% edited / % wt deletion rate,% edited / % wt insertion rate,deletion odds_ratio,deletion p-value,indel odds_ratio,indel p-value
0,REGION_0.bam,NaN,NaN,0.000000,0.379283,0.000000,0.379283
1,REGION_1.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
2,REGION_2.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
3,REGION_3.bam,1.324138,0.441379,0.751323,1.000000,0.751323,1.000000
4,REGION_4.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
5,REGION_5.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
6,REGION_6.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
7,REGION_7.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
8,REGION_8.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
9,REGION_9.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
10,REGION_10.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
11,REGION_11.bam,1.199717,1.388911,0.738404,0.466329,0.738404,0.466329
12,REGION_12.bam,0.830385,NaN,1.496063,0.462616,1.496063,0.462616
13,REGION_13.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
14,REGION_14.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
15,REGION_15.bam,NaN,NaN,0.000000,0.393197,0.000000,0.393197
16,REGION_16.bam,NaN,NaN,0.000000,0.614481,0.000000,0.614481
17,REGION_17.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
18,REGION_18.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
19,REGION_19.bam,NaN,NaN,0.000000,0.388362,0.000000,0.388362
20,REGION_20.bam,1.106808,NaN,0.656886,0.363871,0.656886,0.363871
21,REGION_21.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
22,REGION_22.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
23,REGION_23.bam,1.935484,1.790323,0.498077,1.000000,0.498077,1.000000
24,REGION_24.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
25,REGION_25.bam,0.752315,1.504630,1.748252,0.205920,1.748252,0.205920
26,REGION_26.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
27,REGION_27.bam,0.377193,NaN,2.690476,0.378552,2.690476,0.378552
28,REGION_28.bam,NaN,NaN,0.000000,0.375185,0.000000,0.375185
29,REGION_29.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
30,REGION_30.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
31,REGION_31.bam,0.341637,NaN,3.010870,0.338083,3.010870,0.338083
32,REGION_32.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
33,REGION_33.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
34,REGION_34.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
35,REGION_35.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
36,REGION_36.bam,0.375887,NaN,2.692308,0.377350,2.692308,0.377350
37,REGION_37.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
38,REGION_38.bam,0.748299,NaN,1.354067,0.552657,1.354067,0.552657
39,REGION_39.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
40,REGION_40.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
41,REGION_41.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
42,REGION_42.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
43,REGION_43.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
44,REGION_44.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
45,REGION_45.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
46,REGION_46.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
47,REGION_47.bam,1.232704,NaN,0.804233,1.000000,0.804233,1.000000
48,REGION_48.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
49,REGION_49.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
50,REGION_50.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
51,REGION_51.bam,0.852273,NaN,1.288889,0.778134,1.288889,0.778134
52,REGION_52.bam,0.445902,0.390164,2.280303,0.412431,2.280303,0.412431
53,REGION_53.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
54,REGION_54.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
55,REGION_55.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
56,REGION_56.bam,0.239437,0.359155,4.375000,0.253746,4.375000,0.253746
57,REGION_57.bam,NaN,NaN,0.000000,0.609292,0.000000,0.609292
58,REGION_58.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
59,REGION_59.bam,0.088816,NaN,11.653846,0.156715,11.653846,0.156715
60,REGION_60.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
61,REGION_61.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
62,REGION_62.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
63,REGION_63.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
64,REGION_64.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
65,REGION_65.bam,1.335094,1.276408,0.669751,0.503714,0.669751,0.503714
66,REGION_66.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
67,REGION_67.bam,0.318841,NaN,3.186047,0.333298,3.186047,0.333298
68,REGION_68.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
69,REGION_69.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
70,REGION_70.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
71,REGION_71.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
72,REGION_72.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
73,REGION_73.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
74,REGION_74.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
75,REGION_75.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
76,REGION_76.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
77,REGION_77.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
78,REGION_78.bam,1.039316,1.002849,0.944976,1.000000,0.944976,1.000000
79,REGION_79.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
80,REGION_80.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
81,REGION_81.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
82,REGION_82.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
83,REGION_83.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
84,REGION_84.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
85,REGION_85.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
86,REGION_86.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
87,REGION_87.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
88,REGION_88.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
89,REGION_89.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
90,REGION_90.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
91,REGION_91.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
92,REGION_92.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
93,REGION_93.bam,0.752907,0.645349,1.337302,0.561887,1.337302,0.561887
94,REGION_94.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
95,REGION_95.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
96,REGION_96.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
97,REGION_97.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
98,REGION_98.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
99,REGION_99.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
100,REGION_100.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
101,REGION_101.bam,NaN,NaN,0.000000,0.619605,0.000000,0.619605
102,REGION_102.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
103,REGION_103.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
104,REGION_104.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
105,REGION_105.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
106,REGION_106.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
107,REGION_107.bam,0.000000,NaN,inf,0.094142,inf,0.094142
108,REGION_108.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
109,REGION_109.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
110,REGION_110.bam,1.194595,1.241441,0.807487,1.000000,0.807487,1.000000
111,REGION_111.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
112,REGION_112.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
113,REGION_113.bam,0.380328,0.095082,2.687500,0.366832,2.687500,0.366832
114,REGION_114.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
115,REGION_115.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
116,REGION_116.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
117,REGION_117.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
118,REGION_118.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
119,REGION_119.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
120,REGION_120.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
121,REGION_121.bam,0.000000,NaN,inf,0.074627,inf,0.074627
122,REGION_122.bam,0.550000,0.275000,1.843750,0.461461,1.843750,0.461461
123,REGION_123.bam,1.285714,0.071429,0.600000,0.498310,0.600000,0.498310
124,REGION_124.bam,1.132635,1.204188,0.838983,0.811390,0.838983,0.811390
125,REGION_125.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
126,REGION_126.bam,0.880924,1.270483,1.135969,0.450343,1.135969,0.450343
127,REGION_127.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
128,REGION_128.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
129,REGION_129.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
130,REGION_130.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
131,REGION_131.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
132,REGION_132.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
133,REGION_133.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
134,REGION_134.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
135,REGION_135.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
136,REGION_136.bam,0.277778,0.888889,3.752941,0.148285,3.752941,0.148285
137,REGION_137.bam,0.237500,0.000000,4.297297,0.286545,4.297297,0.286545
138,REGION_138.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
139,REGION_139.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
140,REGION_140.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
141,REGION_141.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
142,REGION_142.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
143,REGION_143.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
144,REGION_144.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
145,REGION_145.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
146,REGION_146.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
147,REGION_147.bam,NaN,NaN,0.000000,1.000000,0.000000,1.000000
148,REGION_148.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
149,REGION_149.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
150,REGION_150.bam,NaN,NaN,NaN,1.000000,NaN,1.000000
151,REGION_151.bam,0.079545,NaN,13.000000,0.142119,13.000000,0.142119

$$ \chi^2 = \sum \frac{(O_i - E_i)^2}{E_i} $$
$$ E_i = \frac{( \text{Row Total} \times \text{Column Total} )}{ \text{Grand Total} } $$
(the formula for a chi squared test - where O_i is the observed frequency and E_i is the expected frequency for a category - summation over all categories)

In [231]:
#there are 12 dleetion cords
#seems to be 20 deletions.... 
print(hgwttbl[hgwttbl['REGION'] ==  "REGION_12.bam"]['deletion coords'].tolist()[0])

[[(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)], [(76784759, 76784760)]]

ValueError: invalid literal for int() with base 10: '[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]'

In [ ]:
#light verification of the results..... bleh